In [1]:
import numpy as np
import pandas as pd
import DB_Select_Local as DBsl

In [2]:
code1 = '512880.SH'
stock_data = DBsl.DB_Select(code1)
stock_data = DBsl.Format_date_sort(stock_data)
stock_data.tail()

,open,high,low,close,preclose,chg,pct_chg,volume,amount
date,,,,,,,,,
2019-10-15,0.973,0.974,0.962,0.964,0.975,-0.011,-1.1282,3461964.14,334445.858
2019-10-16,0.967,0.976,0.956,0.957,0.964,-0.007,-0.7261,4463586.69,430987.601
2019-10-17,0.956,0.963,0.950,0.955,0.957,-0.002,-0.2090,3250700.73,310749.977
2019-10-18,0.956,0.957,0.931,0.932,0.955,-0.023,-2.4084,6717047.50,632967.135
2019-10-21,0.926,0.926,0.913,0.923,0.932,-0.009,-0.9657,5344526.15,491511.652

In [3]:
    # 01
    # MA1赋值:收盘价的5日简单移动平均
    # MA2赋值:收盘价的10日简单移动平均
    MA1 = stock_data['close'].rolling(window=5).mean()
    MA2 = stock_data['close'].rolling(window=10).mean()
    MA12 = pd.concat([stock_data['close'], MA1, MA2], axis=1)
    MA12.columns = ['close','MA1','MA2']
    # P01赋值:如果MA1>MA2,返回1,否则返回如果MA2>MA1,返回-1,否则返回0
    MA12['P01'] = 0
    MA12.loc[MA12['MA1'] > MA12['MA2'],'P01'] = 1
    MA12.loc[MA12['MA1'] < MA12['MA2'],'P01'] = -1

In [4]:
MA12.tail()

            close     MA1     MA2  P01
date
2019-10-15  0.964  0.9558  0.9543    1
2019-10-16  0.957  0.9600  0.9530    1
2019-10-17  0.955  0.9622  0.9528    1
2019-10-18  0.932  0.9566  0.9498    1
2019-10-21  0.923  0.9462  0.9480   -1

In [5]:
    # 02
    # MA3赋值:收盘价的3日简单移动平均
    # MA4赋值:收盘价的5日简单移动平均
    MA3 = stock_data['close'].rolling(window=3).mean()
    MA4 = stock_data['close'].rolling(window=5).mean()
    MA1234 = pd.concat([MA12, MA3, MA4], axis=1)
    MA1234.columns = ['close','MA1','MA2','P01','MA3','MA4']
    # P02赋值:如果MA3>MA4,返回1,否则返回如果MA4>MA3,返回-1,否则返回0
    MA1234['P02'] = 0
    MA1234.loc[MA1234['MA3'] > MA1234['MA4'],'P02'] = 1
    MA1234.loc[MA1234['MA3'] < MA1234['MA4'],'P02'] = -1

In [6]:
MA1234.tail()

            close     MA1     MA2  P01       MA3     MA4  P02
date
2019-10-15  0.964  0.9558  0.9543    1  0.966333  0.9558    1
2019-10-16  0.957  0.9600  0.9530    1  0.965333  0.9600    1
2019-10-17  0.955  0.9622  0.9528    1  0.958667  0.9622   -1
2019-10-18  0.932  0.9566  0.9498    1  0.948000  0.9566   -1
2019-10-21  0.923  0.9462  0.9480   -1  0.936667  0.9462   -1

In [7]:
    # 03
    # MA5赋值:收盘价的12日简单移动平均
    # MA6赋值:收盘价的50日简单移动平均
    MA5 = stock_data['close'].rolling(window=12).mean()
    MA6 = stock_data['close'].rolling(window=50).mean()
    MA123456 = pd.concat([MA1234, MA5, MA6], axis=1)
    MA123456.columns = ['close','MA1','MA2','P01','MA3','MA4','P02','MA5','MA6']
    # P03赋值:如果MA5>MA6,返回1,否则返回如果MA6>MA5,返回-1,否则返回0
    MA123456['P03'] = 0
    MA123456.loc[MA123456['MA5'] > MA123456['MA6'],'P03'] = 1
    MA123456.loc[MA123456['MA5'] < MA123456['MA6'],'P03'] = -1

In [8]:
MA123456.tail()

,close,MA1,MA2,P01,MA3,MA4,P02,MA5,MA6,P03
date,,,,,,,,,,
2019-10-15,0.964,0.9558,0.9543,1,0.966333,0.9558,1,0.957667,0.95126,1
2019-10-16,0.957,0.9600,0.9530,1,0.965333,0.9600,1,0.956333,0.95100,1
2019-10-17,0.955,0.9622,0.9528,1,0.958667,0.9622,-1,0.954583,0.95080,1
2019-10-18,0.932,0.9566,0.9498,1,0.948000,0.9566,-1,0.951417,0.95042,1
2019-10-21,0.923,0.9462,0.9480,-1,0.936667,0.9462,-1,0.948583,0.95042,-1

In [9]:
    # 04
    # 5日内最低价的最低值
    # 5日内最高价的最高值
    LOW5 = stock_data['low'].rolling(window=5).min()
    HIGH5 = stock_data['high'].rolling(window=5).max()
    MAPO_RSV = pd.concat([MA123456, HIGH5, LOW5], axis=1)
    MAPO_RSV.columns = ['close','MA1','MA2','P01','MA3','MA4','P02','MA5','MA6','P03','HIGH5','LOW5']
    # RSV赋值:(收盘价-5日内最低价的最低值)/(5日内最高价的最高值-5日内最低价的最低值)*100
    MAPO_RSV['RSV'] = (MAPO_RSV['close']-MAPO_RSV['LOW5'])/(MAPO_RSV['HIGH5']-MAPO_RSV['LOW5'])*100
    # K赋值:RSVema的3日指数移动平均
    # D赋值:K的3日指数移动平均
    K = MAPO_RSV['RSV'].ewm(span=3).mean()
    D = K.ewm(span=3).mean()
    MAPO_RSV_KD = pd.concat([MAPO_RSV, K, D], axis=1)
    MAPO_RSV_KD.columns = ['close','MA1','MA2','P01','MA3','MA4','P02','MA5','MA6','P03','HIGH5','LOW5','RSV','RSV_K','RSV_D']
    # P04赋值:如果K>D,返回1,否则返回如果D>K,返回-1,否则返回0
    MAPO_RSV_KD['P04'] =0
    MAPO_RSV_KD.loc[MAPO_RSV_KD['RSV_K'] > MAPO_RSV_KD['RSV_D'],'P04'] = 1
    MAPO_RSV_KD.loc[MAPO_RSV_KD['RSV_K'] < MAPO_RSV_KD['RSV_D'],'P04'] = -1

In [10]:
MAPO_RSV_KD.tail()

,close,MA1,MA2,P01,MA3,MA4,P02,MA5,MA6,P03,HIGH5,LOW5,RSV,RSV_K,RSV_D,P04
date,,,,,,,,,,,,,,,,
2019-10-15,0.964,0.9558,0.9543,1,0.966333,0.9558,1,0.957667,0.95126,1,0.989,0.924,61.538462,64.683539,59.273979,1
2019-10-16,0.957,0.9600,0.9530,1,0.965333,0.9600,1,0.956333,0.95100,1,0.989,0.934,41.818182,53.250860,56.262420,-1
2019-10-17,0.955,0.9622,0.9528,1,0.958667,0.9622,-1,0.954583,0.95080,1,0.989,0.938,33.333333,43.292097,49.777258,-1
2019-10-18,0.932,0.9566,0.9498,1,0.948000,0.9566,-1,0.951417,0.95042,1,0.989,0.931,1.724138,22.508117,36.142688,-1
2019-10-21,0.923,0.9462,0.9480,-1,0.936667,0.9462,-1,0.948583,0.95042,-1,0.976,0.913,15.873016,19.190567,27.666627,-1

In [11]:
    # 05
    # 收盘价的12日指数移动平均
    # 收盘价的26日指数移动平均
    EMA12 = stock_data['close'].ewm(span=12).mean()
    EMA26 = stock_data['close'].ewm(span=26).mean()

    EMA1226 = pd.concat([EMA12, EMA26], axis=1)
    EMA1226.columns = ['EMA12','EMA26']
    # DIF赋值:收盘价的12日指数移动平均-收盘价的26日指数移动平均
    EMA1226['DIF'] = EMA1226['EMA12']-EMA1226['EMA26']
    # DEA赋值:DIF的9日指数移动平均
    DEA = EMA1226['DIF'].ewm(span=9).mean()
    EMA_DEA = pd.concat([EMA1226, DEA], axis=1)
    EMA_DEA.columns = ['EMA12','EMA26','DIF','DEA']
    # MACD赋值:(DIF-DEA)*2
    EMA_DEA['MACD'] = (EMA_DEA['DIF']-EMA_DEA['DEA'])*2
    # P05赋值:如果DIF>DEA,返回1,否则返回如果DEA>DIF,返回-1,否则返回0
    EMA_DEA['P05'] = 'NaN'
    EMA_DEA.loc[EMA_DEA['DIF'] > EMA_DEA['DEA'],'P05'] = 1
    EMA_DEA.loc[EMA_DEA['DIF'] < EMA_DEA['DEA'],'P05'] = -1
    EMA_DEA.loc[EMA_DEA['DIF'] == EMA_DEA['DEA'],'P05'] = 0

In [12]:
EMA_DEA.tail()

               EMA12     EMA26       DIF       DEA      MACD  P05
date
2019-10-15  0.961735  0.964186 -0.002451 -0.000062 -0.004778   -1
2019-10-16  0.961006  0.963653 -0.002647 -0.000579 -0.004136   -1
2019-10-17  0.960082  0.963012 -0.002930 -0.001049 -0.003762   -1
2019-10-18  0.955762  0.960715 -0.004953 -0.001830 -0.006246   -1
2019-10-21  0.950722  0.957922 -0.007200 -0.002904 -0.008592   -1

In [13]:
    # 06
    # 波幅（true range，TR）与真实波幅（average true range，ATR）的计算
    TR = stock_data[['close']].shift(1)
    TR.columns = ['Yesterday_Close']
    TR = pd.concat([stock_data[['high','low','close']], TR], axis=1)
    # TR=∣最高价-最低价∣和∣最高价-昨收∣和∣昨收-最低价∣的最大值
    TR['TR1'] = np.abs(TR['high']-TR['low'])
    TR['TR2'] = np.abs(TR['high']-TR['Yesterday_Close'])
    TR['TR3'] = np.abs(TR['Yesterday_Close']-TR['low'])
    # 求三者（'TR1','TR2','TR3'）或多者中的最大值、最小值的更好的方法
    TR_max = TR.loc[:,['TR1','TR2','TR3']]
    TR_max['TRmax'] = TR_max.apply(lambda x: x.max(), axis=1)
    # TRIX赋值:(真实波幅-1日前的真实波幅)/1日前的真实波幅*100
    TR['Yesterday_TR'] = TR_max['TRmax'].shift(1)
    TR['TRIX'] = (TR_max['TRmax'] - TR['Yesterday_TR'])/TR['Yesterday_TR']*100
    TR.loc[0:2,'TRIX'] = 0
    # MATRIX赋值:TRIX的9日简单移动平均 
    MATRIX = TR['TRIX'].rolling(window=9).mean()
    TRIX = pd.concat([TR_max['TRmax'], TR['TRIX'], MATRIX], axis=1)
    TRIX.columns = ['TR','TRIX','MATRIX']
    # P06赋值:如果TRIX>MATRIX,返回1,否则返回如果MATRIX>TRIX,返回-1,否则返回0
    TRIX['P06'] = 0
    TRIX.loc[TRIX['TRIX'] > TRIX['MATRIX'],'P06'] = 1
    TRIX.loc[TRIX['TRIX'] < TRIX['MATRIX'],'P06'] = -1

In [14]:
TRIX.tail()

               TR        TRIX     MATRIX  P06
date
2019-10-15  0.013  -55.172414  21.539142   -1
2019-10-16  0.020   53.846154  22.336863    1
2019-10-17  0.013  -35.000000  25.013631   -1
2019-10-18  0.026  100.000000  18.840791    1
2019-10-21  0.019  -26.923077  19.714073   -1

In [15]:
    # 07
    # HD赋值:最高价-1日前的最高价
    # LD赋值:1日前的最低价-最低价
    HDLD = stock_data[['high','low']].shift(1)
    HDLD.columns = ['Yesterday_high','Yesterday_low']
    HDLD = pd.concat([stock_data[['high','low','close']], HDLD], axis=1)
    HDLD['HD'] = HDLD['high'] - HDLD['Yesterday_high']
    HDLD['LD'] = HDLD['Yesterday_low'] - HDLD['low']
    # DMP赋值:如果HD>0 AND HD>LD,返回HD,否则返回0，的7日指数移动平均
    HDLD['DMP'] = 0
    HDLD.loc[HDLD['HD'] > HDLD['LD'], 'DMP'] = HDLD['HD']
    HDLD.loc[HDLD['HD'] <= 0, 'DMP'] = 0
    HDLD['DMP7'] = HDLD['DMP'].ewm(span=7).mean()
    # DMM赋值:如果LD>0 AND LD>HD,返回LD,否则返回0，的7日指数移动平均
    HDLD['DMM'] = 0
    HDLD.loc[HDLD['HD'] < HDLD['LD'], 'DMM'] = HDLD['LD']
    HDLD.loc[HDLD['LD'] <= 0, 'DMM'] = 0
    HDLD['DMM7'] = HDLD['DMM'].ewm(span=7).mean()
    # PDI赋值: DMP*100/真实波幅
    # MDI赋值: DMM*100/真实波幅
    HDLD = pd.concat([HDLD,TRIX['TR']], axis=1)
    HDLD['PDI'] = HDLD['DMP7']*100/HDLD['TR']
    HDLD['MDI'] = HDLD['DMM7']*100/HDLD['TR']
    # ADX赋值: MDI-PDI的绝对值/(MDI+PDI)*100，的7日指数移动平均
    HDLD['ADX'] = np.abs(HDLD['MDI'] - HDLD['PDI'])/(HDLD['MDI'] + HDLD['PDI'])*100
    HDLD['ADX7'] = HDLD['ADX'].ewm(span=7).mean()
    # P07赋值:如果PDI>MDI AND ADX>PDI AND ADX>50,返回3,否则返回如果PDI<MDI AND ADX>MDI AND ADX>50,返回-3,否则返回0
    HDLD['P07'] = 0
    HDLD.loc[HDLD['PDI'] > HDLD['MDI'], 'P07'] = 3
    HDLD.loc[HDLD['PDI'] < HDLD['MDI'], 'P07'] = -3
    HDLD.loc[HDLD['PDI'] == HDLD['MDI'], 'P07'] = 0
    HDLD.loc[HDLD['ADX7'] <= HDLD['PDI'], 'P07'] = 0
    HDLD.loc[HDLD['ADX7'] <= HDLD['MDI'], 'P07'] = 0
    HDLD.loc[HDLD['ADX7'] <= 50, 'P07'] = 0

In [16]:
HDLD.tail()

,high,low,close,Yesterday_high,Yesterday_low,HD,LD,DMP,DMP7,DMM,DMM7,TR,PDI,MDI,ADX,ADX7,P07
date,,,,,,,,,,,,,,,,,
2019-10-15,0.974,0.962,0.964,0.989,0.968,-0.015,0.006,0.0,0.008202,0.006,0.003891,0.013,63.089404,29.933583,35.642611,48.442873,0
2019-10-16,0.976,0.956,0.957,0.974,0.962,0.002,0.006,0.0,0.006151,0.006,0.004419,0.020,30.756085,22.092621,16.392952,40.430393,0
2019-10-17,0.963,0.950,0.955,0.976,0.956,-0.013,0.006,0.0,0.004613,0.006,0.004814,0.013,35.487790,37.029948,2.126594,30.854443,0
2019-10-18,0.957,0.931,0.932,0.963,0.950,-0.006,0.019,0.0,0.003460,0.019,0.008360,0.026,13.307921,32.155461,41.456528,33.504964,0
2019-10-21,0.926,0.913,0.923,0.957,0.931,-0.031,0.018,0.0,0.002595,0.018,0.010770,0.019,13.658130,56.685868,61.167605,40.420624,0

In [17]:
    # 08
    # LC赋值:1日前的收盘价
    LC = stock_data[['close']].shift(1)
    LC.columns = ['Yesterday_close']
    # RSI赋值:收盘价-LC和0的较大值的5日指数移动平均/收盘价-LC的绝对值的5日指数移动平均*100
    LC['LC5'] = 0
    LC.loc[stock_data['close'] - LC['Yesterday_close']>0, 'LC5'] = (stock_data['close'] - LC['Yesterday_close'])
    LC['RSI5'] = LC['LC5'].ewm(span=5).mean()
    LC['ABS'] = np.abs(stock_data['close'] - LC['Yesterday_close'])
    LC['ABS5'] = LC['ABS'].ewm(span=5).mean()
    RSI = pd.concat([stock_data['close'], LC], axis=1)
    RSI['RSI'] = RSI['RSI5']/RSI['ABS5']*100
    # P08赋值:如果RSI1>80,返回1,否则返回如果RSI1<20,返回-1,否则返回0
    RSI['P08'] = 0
    RSI.loc[RSI['RSI'] > 80, 'P08'] = 1
    RSI.loc[RSI['RSI'] < 20, 'P08'] = -1

In [18]:
RSI.tail()

,close,Yesterday_close,LC5,RSI5,ABS,ABS5,RSI,P08
date,,,,,,,,
2019-10-15,0.964,0.975,0.0,0.006764,0.011,0.011681,57.903721,0
2019-10-16,0.957,0.964,0.0,0.004509,0.007,0.010121,44.553737,0
2019-10-17,0.955,0.957,0.0,0.003006,0.002,0.007414,40.547291,0
2019-10-18,0.932,0.955,0.0,0.002004,0.023,0.012609,15.893497,-1
2019-10-21,0.923,0.932,0.0,0.001336,0.009,0.011406,11.713227,-1

In [19]:
    # 09
    # TYP赋值:(最高价+最低价+收盘价)/3
    TYP = (stock_data['high']+stock_data['low']+stock_data['close'])/3
    # CCI赋值:(TYP-TYP的8日简单移动平均)/(0.015*TYP的8日平均绝对偏差)
    TYP8 = TYP.rolling(window=8).mean()
    # 平均绝对偏差的计算方法
    mad = lambda x: np.fabs(x-x.mean()).mean()
    AVEDEV = TYP.rolling(window=8).apply(mad,raw='False')
    CCI = pd.concat([TYP, TYP8, AVEDEV], axis=1)
    CCI.columns = ['TYP','TYP8','AVEDEV']
    CCI['CCI'] = (CCI['TYP']-CCI['TYP8'])/(0.015*CCI['AVEDEV'])
    # P09赋值:如果CCI>180,返回2,否则返回如果CCI<-180,返回-2,否则返回0
    CCI['P09'] = 0
    CCI.loc[CCI['CCI'] > 180, 'P09'] = 2
    CCI.loc[CCI['CCI'] < -180, 'P09'] = -2

In [20]:
CCI.tail()

                 TYP      TYP8    AVEDEV         CCI  P09
date
2019-10-15  0.966667  0.952250  0.012667   75.877193    0
2019-10-16  0.963000  0.952583  0.013000   53.418803    0
2019-10-17  0.956000  0.953583  0.012604   12.782369    0
2019-10-18  0.940000  0.953958  0.012135  -76.680973    0
2019-10-21  0.920667  0.952500  0.013958 -152.039801    0

In [21]:
    # 10
    # WR赋值:(收盘价-6日内最低价的最低值)/(6日内最高价的最高值-6日内最低价的最低值)*100
    LOW6 = stock_data['low'].rolling(window=6).min()
    HIGH6 = stock_data['high'].rolling(window=6).max()
    WR = pd.concat([stock_data['close'], HIGH6, LOW6], axis=1)
    WR.columns = ['close','HIGH6','LOW6']
    WR['WR'] = (WR['close']-WR['LOW6'])/(WR['HIGH6']-WR['LOW6'])*100
    # P10赋值: 如果WR>80,返回1,否则返回如果WR<20,返回-1,否则返回0
    WR['P10'] = 0
    WR.loc[WR['WR'] > 80, 'P10'] = 1
    WR.loc[WR['WR'] < 20, 'P10'] = -1

In [22]:
WR.tail()

            close  HIGH6   LOW6         WR  P10
date
2019-10-15  0.964  0.989  0.924  61.538462    0
2019-10-16  0.957  0.989  0.924  50.769231    0
2019-10-17  0.955  0.989  0.934  38.181818    0
2019-10-18  0.932  0.989  0.931   1.724138   -1
2019-10-21  0.923  0.989  0.913  13.157895   -1

In [23]:
    # 11
    # OSC赋值:100*(收盘价-收盘价的20日简单移动平均)
    MA20 = stock_data['close'].rolling(window=20).mean()
    OSC = pd.concat([stock_data['close'], MA20], axis=1)
    OSC.columns = ['close','MA20']
    OSC['OSC'] = 100*(OSC['close']-OSC['MA20'])
    # P11赋值:如果OSC>0,返回1,否则返回如果OSC<0,返回-1,否则返回0
    OSC['P11'] = 0
    OSC.loc[OSC['OSC'] > 0, 'P11'] = 1
    OSC.loc[OSC['OSC'] < 0, 'P11'] = -1

In [24]:
OSC.tail()

            close     MA20    OSC  P11
date
2019-10-15  0.964  0.97735 -1.335   -1
2019-10-16  0.957  0.97450 -1.750   -1
2019-10-17  0.955  0.97120 -1.620   -1
2019-10-18  0.932  0.96595 -3.395   -1
2019-10-21  0.923  0.96095 -3.795   -1

In [25]:
    # 12
    # MOM赋值:收盘价-7日前的收盘价
    MOM = stock_data.loc[:,['close']]
    MOM['Day7'] = MOM['close'].shift(7)
    MOM['MOM'] = MOM['close']-MOM['Day7']
    # P12赋值:如果MOM>0,返回1,否则返回如果MOM<0,返回-1,否则返回0
    MOM['P12'] = 0
    MOM.loc[MOM['MOM'] > 0, 'P12'] = 1
    MOM.loc[MOM['MOM'] < 0, 'P12'] = -1

In [26]:
MOM.tail()

            close   Day7    MOM  P12
date
2019-10-15  0.964  0.962  0.002    1
2019-10-16  0.957  0.941  0.016    1
2019-10-17  0.955  0.934  0.021    1
2019-10-18  0.932  0.936 -0.004   -1
2019-10-21  0.923  0.944 -0.021   -1

In [27]:
    # 13
    # DPO赋值:收盘价-6日前的收盘价的11日简单移动平均
    MA11 = stock_data['close'].rolling(window=11).mean()
    DPO = pd.concat([stock_data['close'], MA11], axis=1)
    DPO.columns = ['close','MA11']
    DPO['MA11_Day6'] = DPO['MA11'].shift(6)
    DPO['DPO'] = DPO['close']-DPO['MA11_Day6']
    # P13赋值:如果DPO>0,返回1,否则返回如果DPO<0,返回-1,否则返回0
    DPO['P13'] = 0
    DPO.loc[DPO['DPO'] > 0, 'P13'] = 1
    DPO.loc[DPO['DPO'] < 0, 'P13'] = -1

In [28]:
DPO.tail()

            close      MA11  MA11_Day6       DPO  P13
date
2019-10-15  0.964  0.956273   0.978364 -0.014364   -1
2019-10-16  0.957  0.954545   0.970273 -0.013273   -1
2019-10-17  0.955  0.953182   0.965091 -0.010091   -1
2019-10-18  0.932  0.950909   0.961182 -0.029182   -1
2019-10-21  0.923  0.947364   0.958091 -0.035091   -1

In [29]:
    # 14
    # MB赋值:收盘价的12日简单移动平均
    # R赋值:(收盘价-MB)*(收盘价-MB)
    MB = stock_data['close'].rolling(window=12).mean()
    R = (stock_data['close']-MB)*(stock_data['close']-MB)
    # X1赋值:R的12日简单移动平均
    # X2赋值:X1的开方
    # D1赋值:1
    X1 = R.rolling(window=12).mean()
    X2 = X1**0.5
    D1 = 1
    # UPPER赋值:MB+(D1*X2)
    # LOWER赋值:MB-(D1*X2)
    UPPER = MB+(D1*X2)
    LOWER = MB-(D1*X2)
    BOLL = pd.concat([stock_data['close'], MB, R, X1, X2, UPPER, LOWER], axis=1)
    BOLL.columns = ['close','MB','R','X1','X2','UPPER','LOWER']
    # P14赋值:如果收盘价>UPPER,返回2,否则返回如果收盘价<LOWER,返回-2,否则返回0
    BOLL['P14'] = 0
    BOLL.loc[BOLL['close'] > BOLL['UPPER'], 'P14'] = 2
    BOLL.loc[BOLL['close'] < BOLL['LOWER'], 'P14'] = -2

In [30]:
BOLL.tail()

,close,MB,R,X1,X2,UPPER,LOWER,P14
date,,,,,,,,
2019-10-15,0.964,0.957667,4.011111e-05,0.000800,0.028279,0.985945,0.929388,0
2019-10-16,0.957,0.956333,4.444444e-07,0.000727,0.026967,0.983300,0.929367,0
2019-10-17,0.955,0.954583,1.736111e-07,0.000674,0.025956,0.980540,0.928627,0
2019-10-18,0.932,0.951417,3.770069e-04,0.000635,0.025209,0.976625,0.926208,0
2019-10-21,0.923,0.948583,6.545069e-04,0.000574,0.023966,0.972550,0.924617,-2

In [31]:
    # 15
    # BR赋值:0和最高价-1日前的收盘价的较大值的14日累和/0和1日前的收盘价-最低价的较大值的14日累和*100
    Day1 = stock_data[['close']].shift(1)
    Day1.columns = ['Day1']
    BR = pd.concat([stock_data[['high','low']], Day1], axis=1)
    BR['high_Day1'] = BR['high']-BR['Day1']
    BR['max1'] = 0
    BR.loc[BR['high_Day1'] > 0, 'max1'] = BR['high_Day1']
    BR['sum14_1'] = BR['max1'].rolling(window=14).sum()
    BR['Day1_low'] = BR['Day1']-BR['low']
    BR['max2'] = 0
    BR.loc[BR['Day1_low'] > 0, 'max2'] = BR['Day1_low']
    BR['sum14_2'] = BR['max2'].rolling(window=14).sum()
    BR['BR'] = BR['sum14_1']/BR['sum14_2']*100
    # AR赋值:最高价-开盘价的14日累和/开盘价-最低价的14日累和*100
    AR = stock_data.loc[:,['open','high','low']]
    AR['high_open'] = AR['high']-AR['open']
    AR['sum14_3'] = AR['high_open'].rolling(window=14).sum()
    AR['open_loe'] = AR['open']-AR['low']
    AR['sum14_4'] = AR['open_loe'].rolling(window=14).sum()
    AR['AR'] = AR['sum14_3']/AR['sum14_4']*100
    BRAR = pd.concat([stock_data[['open','high','low','close']], BR['BR'], AR['AR']], axis=1)
    # P15赋值:如果BR>350 OR AR>180,返回3,否则返回如果BR<45 OR AR<45,返回-3,否则返回0
    BRAR['P15'] = 0
    BRAR.loc[BRAR['BR'] > 350, 'P15'] = 3
    BRAR.loc[BRAR['AR'] > 180, 'P15'] = 3
    BRAR.loc[BRAR['BR'] < 45, 'P15'] = -3
    BRAR.loc[BRAR['AR'] < 45, 'P15'] = -3

In [32]:
BRAR.tail()

             open   high    low  close         BR         AR  P15
date
2019-10-15  0.973  0.974  0.962  0.964  86.259542  75.572519    0
2019-10-16  0.967  0.976  0.956  0.957  86.666667  77.611940    0
2019-10-17  0.956  0.963  0.950  0.955  96.093750  86.614173    0
2019-10-18  0.956  0.957  0.931  0.932  93.984962  80.434783    0
2019-10-21  0.926  0.926  0.913  0.923  73.154362  67.586207    0

In [33]:
    # 16
    # TH赋值:如果收盘价>1日前的收盘价,返回成交量(手),否则返回0的14日累和
    # TL赋值:如果收盘价<1日前的收盘价,返回成交量(手),否则返回0的14日累和
    # TQ赋值:如果收盘价=1日前的收盘价,返回成交量(手),否则返回0的14日累和
    THLQ = stock_data.loc[:,['close','volume']]
    THLQ['Day1'] = THLQ['close'].shift(1)
    THLQ['TH'] = 0
    THLQ.loc[THLQ['close'] > THLQ['Day1'],'TH'] = THLQ['volume']/100
    THLQ['TH14'] = THLQ['TH'].rolling(window=14).sum()
    THLQ['TL'] = 0
    THLQ.loc[THLQ['close'] < THLQ['Day1'],'TL'] = THLQ['volume']/100
    THLQ['TL14'] = THLQ['TL'].rolling(window=14).sum()
    THLQ['TQ'] = 0
    THLQ.loc[THLQ['close'] == THLQ['Day1'],'TQ'] = THLQ['volume']/100
    THLQ['TQ14'] = THLQ['TQ'].rolling(window=14).sum()
    # VR赋值:100*(TH*2+TQ)/(TL*2+TQ)
    THLQ['VR'] = 100*(THLQ['TH14']*2+THLQ['TQ14'])/(THLQ['TL14']*2+THLQ['TQ14'])
    # P16赋值:如果VR>350,返回3,否则返回如果VR<45,返回-3,否则返回0
    THLQ['P16'] = 0
    THLQ.loc[THLQ['VR'] > 350, 'P16'] = 3
    THLQ.loc[THLQ['VR'] < 45, 'P16'] = -3

In [34]:
THLQ.tail()

,close,volume,Day1,TH,TH14,TL,TL14,TQ,TQ14,VR,P16
date,,,,,,,,,,,
2019-10-15,0.964,3461964.14,0.975,0.0,428892.5649,34619.6414,370672.2950,0.0,0.0,115.706669,0
2019-10-16,0.957,4463586.69,0.964,0.0,382417.4045,44635.8669,415308.1619,0.0,0.0,92.080397,0
2019-10-17,0.955,3250700.73,0.957,0.0,382417.4045,32507.0073,390068.4192,0.0,0.0,98.038545,0
2019-10-18,0.932,6717047.50,0.955,0.0,382417.4045,67170.4750,391865.5892,0.0,0.0,97.588922,0
2019-10-21,0.923,5344526.15,0.932,0.0,317275.7392,53445.2615,445310.8507,0.0,0.0,71.248149,0

In [35]:
    # 17
    # WVAD赋值:(收盘价-开盘价)/(最高价-最低价)*成交量(手)的6日累和/10000
    WVAD = (stock_data['close'] - stock_data['open'])/(stock_data['high'] - stock_data['low'])*(stock_data['volume']/100)
    WVAD = pd.concat([stock_data['volume'], WVAD], axis=1)
    WVAD.columns = ['volume','WVAD']
    WVAD['WVAD6'] = WVAD['WVAD'].rolling(window=6).sum()/10000
    # P17赋值:如果WVAD>0,返回1,否则返回如果WVAD<0,返回-1,否则返回0
    WVAD['P17'] = 0
    WVAD.loc[WVAD['WVAD6'] > 0, 'P17'] = 1
    WVAD.loc[WVAD['WVAD6'] < 0, 'P17'] = -1

In [36]:
WVAD.tail()

                volume          WVAD      WVAD6  P17
date
2019-10-15  3461964.14 -25964.731050   4.876491    1
2019-10-16  4463586.69 -22317.933450   4.553364    1
2019-10-17  3250700.73  -2500.539023   2.093053    1
2019-10-18  6717047.50 -62003.515385  -7.078628   -1
2019-10-21  5344526.15 -12333.521885 -12.512024   -1

In [37]:
    # 18
    # VOLUME赋值:成交量(手)的4日简单移动平均/成交量(手)
    VOLUME = stock_data[['volume']].rolling(window=4).mean()
    VOLUME['VOL'] = VOLUME['volume']/stock_data['volume']
    # MID赋值:100*(最高价+最低价-1日前的最高价+最低价)/(最高价+最低价)
    MID = stock_data[['high','low']].shift(1)
    MID['MID'] = 100*(stock_data['high']+stock_data['low']-MID['high']-MID['low'])/(stock_data['high']+stock_data['low'])
    # EMV赋值:MID*VOLUME*(最高价-最低价)/最高价-最低价的4日简单移动平均的4日简单移动平均
    EMV = pd.concat([VOLUME['VOL'], MID['MID']], axis=1)
    EMV['high_low'] = stock_data['high']-stock_data['low']
    EMV['high_low_4'] = EMV['high_low'].rolling(window=4).mean()
    EMV['MID_VOLUME'] = EMV['MID']*EMV['VOL']*EMV['high_low']/EMV['high_low_4']
    EMV['MID_VOLUME_4'] = EMV['MID_VOLUME'].rolling(window=4).mean()
    # P18赋值:如果EMV>0,返回1,否则返回如果EMV<0,返回-1,否则返回0
    EMV['P18'] = 0
    EMV.loc[EMV['MID_VOLUME_4'] > 0, 'P18'] = 1
    EMV.loc[EMV['MID_VOLUME_4'] < 0, 'P18'] = -1

In [38]:
EMV.tail()

,VOL,MID,high_low,high_low_4,MID_VOLUME,MID_VOLUME_4,P18
date,,,,,,,
2019-10-15,1.928911,-1.084711,0.012,0.01850,-1.357175,0.714184,1
2019-10-16,1.484548,-0.207039,0.020,0.02075,-0.296251,0.481576,1
2019-10-17,1.596290,-0.993204,0.013,0.01650,-1.249137,-0.204765,-1
2019-10-18,0.665966,-1.324153,0.026,0.01775,-1.291710,-1.048568,-1
2019-10-21,0.925052,-2.664492,0.013,0.01800,-1.780129,-1.154306,-1

In [39]:
    # 19
    # VA赋值:如果收盘价>1日前的收盘价,返回成交量(手),否则返回-成交量(手)
    OBV = stock_data[['close']].shift(1)
    va = stock_data['close'][0]
    OBV.loc[0:1,'close'] = va
    OBV['VA'] = stock_data['volume']/100
    OBV.loc[stock_data['close'] <= OBV['close'],'VA'] = -1*stock_data['volume']/100
    # OBV赋值:如果收盘价=1日前的收盘价,返回0,否则返回VA的历史累和
    OBV['OBV_VA'] = OBV['VA']
    OBV.loc[stock_data['close'] == OBV['close'],'OBV_VA'] = 0
    OBV['OBV'] = OBV['OBV_VA'].cumsum()
    # MAOBV赋值:OBV的24日指数移动平均
    OBV['MAOBV'] = OBV['OBV'].ewm(span=24).mean()
    # P19赋值:如果OBV>MAOBV,返回1,否则返回如果OBV<MAOBV,返回-1,否则返回0
    OBV['P19'] = 0
    OBV.loc[OBV['OBV'] > OBV['MAOBV'], 'P19'] = 1
    OBV.loc[OBV['OBV'] < OBV['MAOBV'], 'P19'] = -1

In [40]:
OBV.tail()

            close          VA      OBV_VA           OBV         MAOBV  P19
date
2019-10-15  0.975 -34619.6414 -34619.6414  1.527819e+06  1.377813e+06    1
2019-10-16  0.964 -44635.8669 -44635.8669  1.483183e+06  1.386243e+06    1
2019-10-17  0.957 -32507.0073 -32507.0073  1.450676e+06  1.391397e+06    1
2019-10-18  0.955 -67170.4750 -67170.4750  1.383506e+06  1.390766e+06   -1
2019-10-21  0.932 -53445.2615 -53445.2615  1.330061e+06  1.385910e+06   -1

In [41]:
    # 20
    # PVI赋值:PVI
    PVI = stock_data[['close','volume']].shift(1)
    PVI['CLS'] = (stock_data['close']-PVI['close'])/PVI['close']
    PVI['vol'] = stock_data['volume']-PVI['volume']
    PVI['PV'] = 1
    PVI.loc[stock_data['volume']-PVI['volume'] > 0,'PV'] = (PVI['CLS']+1)
    PVI['PVI'] = PVI['PV'].cumprod()*100
    # MPVI赋值:PVI的24日指数移动平均
    PVI['MPVI'] = PVI['PVI'].ewm(span=24).mean()
    # P20赋值:如果PVI>MPVI,返回1,否则返回如果PVI<MPVI,返回-1,否则返回0
    PVI['P20'] = 0
    PVI.loc[PVI['PVI'] > PVI['MPVI'], 'P20'] = 1
    PVI.loc[PVI['PVI'] < PVI['MPVI'], 'P20'] = -1

In [42]:
PVI.tail()

,close,volume,CLS,vol,PV,PVI,MPVI,P20
date,,,,,,,,
2019-10-15,0.975,9579996.21,-0.011282,-6118032.07,1.000000,225.531053,222.218138,1
2019-10-16,0.964,3461964.14,-0.007261,1001622.55,0.992739,223.893380,222.352158,1
2019-10-17,0.957,4463586.69,-0.002090,-1212885.96,1.000000,223.893380,222.475456,1
2019-10-18,0.955,3250700.73,-0.024084,3466346.77,0.975916,218.501183,222.157514,-1
2019-10-21,0.932,6717047.50,-0.009657,-1372521.35,1.000000,218.501183,221.865007,-1

In [43]:
    # 21
    # NVI赋值:NVI
    NVI = PVI.loc[:,['close','volume','CLS','vol']]
    NVI['NV'] = 1
    NVI.loc[stock_data['volume']-NVI['volume'] < 0,'NV'] = (NVI['CLS']+1)
    NVI['NVI'] = NVI['NV'].cumprod()*100
    # MNVI赋值:NVI的24日指数移动平均
    NVI['MNVI'] = NVI['NVI'].ewm(span=24).mean()
    # P21赋值:如果NVI>MNVI,返回2,否则返回如果NVI<MNVI,返回-2,否则返回0
    NVI['P21'] = 0
    NVI.loc[NVI['NVI'] > NVI['MNVI'], 'P21'] = 2
    NVI.loc[NVI['NVI'] < NVI['MNVI'], 'P21'] = -2

In [44]:
NVI.tail()

,close,volume,CLS,vol,NV,NVI,MNVI,P21
date,,,,,,,,
2019-10-15,0.975,9579996.21,-0.011282,-6118032.07,0.988718,42.573266,43.230932,-2
2019-10-16,0.964,3461964.14,-0.007261,1001622.55,1.000000,42.573266,43.178319,-2
2019-10-17,0.957,4463586.69,-0.002090,-1212885.96,0.997910,42.484294,43.122797,-2
2019-10-18,0.955,3250700.73,-0.024084,3466346.77,1.000000,42.484294,43.071717,-2
2019-10-21,0.932,6717047.50,-0.009657,-1372521.35,0.990343,42.074038,42.991903,-2

In [45]:
    # 22
    # MASS赋值:最高价-最低价的9日简单移动平均/最高价-最低价的9日简单移动平均的9日简单移动平均的25日累和
    MASS = stock_data.loc[:,['high','low']]
    MASS['high_low'] = MASS['high']-MASS['low']
    MASS['high_low_9'] = MASS['high_low'].rolling(window=9).mean()
    MASS['high_low_99'] = MASS['high_low_9'].rolling(window=9).mean()
    MASS['high_low_sum'] = MASS['high_low_9']/MASS['high_low_99']
    MASS['sum25'] = MASS['high_low_sum'].rolling(window=25).sum()
    # MA9赋值:收盘价的9日简单移动平均
    MASS['MA9'] = stock_data['close'].rolling(window=9).mean()
    MASS['MA9_day1'] = MASS['MA9'].shift(1)
    # P22赋值:如果MA9>1日前的MA9 AND MASS>26.5,返回2,否则返回如果MA9<1日前的MA9 AND MASS<26.5,返回-2,否则返回0
    MASS['P221'] = 0
    MASS['P222'] = 0
    MASS.loc[MASS['MA9'] > MASS['MA9_day1'], 'P221'] = 2
    MASS.loc[MASS['sum25'] <= 26.5, 'P221'] = 0
    MASS.loc[MASS['MA9'] <= MASS['MA9_day1'], 'P222'] = -2
    MASS.loc[MASS['sum25'] > 26.5, 'P222'] = 0
    MASS['P22'] = MASS['P221']+MASS['P222']

In [46]:
MASS.tail()

,high,low,high_low,high_low_9,high_low_99,high_low_sum,sum25,MA9,MA9_day1,P221,P222,P22
date,,,,,,,,,,,,
2019-10-15,0.974,0.962,0.012,0.017333,0.016654,1.040771,24.680250,0.952556,0.953222,0,-2,-2
2019-10-16,0.976,0.956,0.020,0.017111,0.016568,1.032787,24.825301,0.952556,0.952556,0,-2,-2
2019-10-17,0.963,0.950,0.013,0.017556,0.016704,1.050998,24.903009,0.951778,0.952556,0,-2,-2
2019-10-18,0.957,0.931,0.026,0.017889,0.016951,1.055353,24.821764,0.950778,0.951778,0,-2,-2
2019-10-21,0.926,0.913,0.013,0.017667,0.017148,1.030238,24.698303,0.949556,0.950778,0,-2,-2

In [47]:
    # 23
    # NUM赋值:15日内最高价的最高值-15日内最低价的最低值的绝对值
    NUM = stock_data.loc[:,['high','low']]
    NUM['high15'] = NUM['high'].rolling(window=15).max()
    NUM['low15'] = NUM['low'].rolling(window=15).min()
    NUM['NUM'] = np.abs(NUM['high15']-NUM['low15'])
    # DEN赋值:收盘价-1日前的收盘价的绝对值的15日累和
    DEN = stock_data[['close']].shift(1)
    DEN['DEN_abs'] = np.abs(stock_data['close'] - DEN['close'])
    DEN['DEN'] = DEN['DEN_abs'].rolling(window=15).sum()
    # VHF赋值:如果DEN=0,返回0,否则返回NUM/DEN
    # VHF1赋值:VHF的240日指数移动平均
    VHF = pd.concat([NUM['NUM'], DEN['DEN']], axis=1)
    VHF['VHF'] = 0
    VHF.loc[VHF['DEN'] != 0,'VHF'] = VHF['NUM']/VHF['DEN']
    VHF['VHF1'] = VHF['VHF'].ewm(span=240).mean()
    # P23赋值:如果VHF>VHF1,返回1,否则返回如果VHF<VHF1,返回-1,否则返回0
    VHF['P23'] = 0
    VHF.loc[VHF['VHF'] > VHF['VHF1'], 'P23'] = 1
    VHF.loc[VHF['VHF'] < VHF['VHF1'], 'P23'] = -1

In [48]:
VHF.tail()

              NUM    DEN       VHF      VHF1  P23
date
2019-10-15  0.074  0.141  0.524823  0.544622   -1
2019-10-16  0.071  0.142  0.500000  0.544251   -1
2019-10-17  0.070  0.137  0.510949  0.543974   -1
2019-10-18  0.065  0.152  0.427632  0.543007   -1
2019-10-21  0.076  0.148  0.513514  0.542762   -1

In [49]:
    # 24
    # PU赋值:收盘价的13日简单移动平均
    # CU赋值:成交量(手)的13日简单移动平均
    # PU1赋值:(PU-1日前的PU)/1日前的PU*100
    # CU1赋值:(CU-1日前的CU)/1日前的CU*100
    PU = stock_data['close'].rolling(window=13).mean()
    CU = (stock_data['volume']/100).rolling(window=13).mean()
    PU1 = (PU-PU.shift(1))/PU.shift(1)*100
    CU1 = (CU-CU.shift(1))/CU.shift(1)*100
    PUCU = pd.concat([PU, CU, PU1, CU1], axis=1)
    PUCU.columns = ['PU','CU','PU1','CU1']
    # 逆时针曲线赋值:PU1+CU1
    PUCU['NSZ'] = PUCU['PU1']+PUCU['CU1']
    PUCU['NSZ1'] = PUCU['NSZ'].shift(1)
    # P24赋值:如果逆时针曲线>1日前的逆时针曲线,返回1,否则返回如果逆时针曲线<1日前的逆时针曲线,返回-1,否则返回0
    PUCU['P24'] = 0
    PUCU.loc[PUCU['NSZ'] > PUCU['NSZ1'], 'P24'] = 1
    PUCU.loc[PUCU['NSZ'] < PUCU['NSZ1'], 'P24'] = -1

In [50]:
PUCU.tail()

,PU,CU,PU1,CU1,NSZ,NSZ1,P24
date,,,,,,,
2019-10-15,0.959846,57929.976885,-0.239846,-1.549852,-1.789699,6.543741,-1
2019-10-16,0.957615,56921.447415,-0.232409,-1.740946,-1.973355,-1.789699,-1
2019-10-17,0.956231,54393.270669,-0.144590,-4.441519,-4.586109,-1.973355,-1
2019-10-18,0.952846,54549.332954,-0.353954,0.286915,-0.067039,-4.586109,1
2019-10-21,0.949231,54341.506131,-0.379430,-0.380989,-0.760419,-0.067039,-1

In [51]:
    # 25
    # LC2赋值:1日前的收盘价
    # AA赋值:最高价-LC2的绝对值
    # BB赋值:最低价-LC2的绝对值
    # CC赋值:最高价-1日前的最低价的绝对值
    # DD赋值:LC2-1日前的开盘价的绝对值
    MASI = stock_data[['close']].shift(1)
    MASI.columns = ['LC2']
    c1 = stock_data['close'][0]
    l1 = stock_data['low'][0]
    o1 = stock_data['open'][0]
    MASI = MASI[['LC2']].fillna(c1)
    MASI['AA'] = np.abs(stock_data['high']-MASI['LC2'])
    MASI['BB'] = np.abs(stock_data['low']-MASI['LC2'])
    MASI['CC'] = np.abs(stock_data['high']-stock_data['low'].shift(1).fillna(l1))
    MASI['DD'] = np.abs(MASI['LC2']-stock_data['open'].shift(1).fillna(o1))
    # R2赋值:如果AA>BB AND AA>CC,返回AA+BB/2+DD/4,否则返回如果BB>CC AND BB>AA,返回BB+AA/2+DD/4,否则返回CC+DD/4
    MASI['R2'] = MASI['CC']+MASI['DD']/4
    MASI.loc[(MASI['AA']>MASI['BB']) & (MASI['AA']>MASI['CC']),'R2'] = MASI['AA']+MASI['BB']/2+MASI['DD']/4
    MASI.loc[(MASI['R2'] == MASI['CC']+MASI['DD']/4) & (MASI['BB']>MASI['CC']) & (MASI['BB']>MASI['AA']),'R2'] =     MASI['BB']+MASI['AA']/2+MASI['DD']/4
    # X01赋值:(收盘价-LC2+(收盘价-开盘价)/2+LC2-1日前的开盘价)
    MASI['X01'] = (stock_data['close']-MASI['LC2']+(stock_data['close']-stock_data['open'])/2+MASI['LC2']-stock_data['open'].shift(1).fillna(o1))
    # SI赋值:16*X01/R2*AA和BB的较大值
    MASI['AABB'] = MASI[['AA','BB']].apply(lambda x: x.max(), axis=1)
    MASI['SI'] = 16*MASI['X01']/MASI['R2']*MASI['AABB']
    # ASI赋值:SI的历史累和
    MASI['ASI'] = MASI['SI'].cumsum()
    # MASI赋值:ASI的6日简单移动平均
    MASI['MASI'] = MASI['ASI'].rolling(window=6).mean()
    # P25赋值:如果收盘价<13日内收盘价的最高值 AND ASI=13日内ASI的最高值,返回1,
    # 否则返回如果收盘价>13日内收盘价的最低值 AND ASI=13日内ASI的最低值,返回-1,否则返回0
    MASI['P25'] = 0
    MASI['close13_max'] = stock_data['close'].rolling(window=13).max()
    MASI['close13_min'] = stock_data['close'].rolling(window=13).min()
    MASI['ASI_max'] = MASI['ASI'].rolling(window=13).max()
    MASI['ASI_min'] = MASI['ASI'].rolling(window=13).min()
    MASI.loc[(stock_data['close']<MASI['close13_max']) & (MASI['ASI'] == MASI['ASI_max']),'P25'] = 1
    MASI.loc[(stock_data['close']>MASI['close13_min']) & (MASI['ASI'] == MASI['ASI_min']),'P25'] = -1

In [52]:
MASI.tail()

,LC2,AA,BB,CC,DD,R2,X01,AABB,SI,ASI,MASI,P25,close13_max,close13_min,ASI_max,ASI_min
date,,,,,,,,,,,,,,,,
2019-10-15,0.975,0.001,0.013,0.006,0.000,0.01350,-0.0155,0.013,-0.238815,-16.153092,-16.315812,0,0.986,0.934,-15.124161,-16.600513
2019-10-16,0.964,0.012,0.008,0.014,0.009,0.01625,-0.0210,0.012,-0.248123,-16.401215,-16.285614,0,0.976,0.934,-15.437968,-16.600513
2019-10-17,0.957,0.006,0.007,0.007,0.010,0.00950,-0.0125,0.007,-0.147368,-16.548583,-16.276959,0,0.976,0.934,-15.491301,-16.600513
2019-10-18,0.955,0.002,0.024,0.007,0.001,0.02525,-0.0360,0.024,-0.547485,-17.096068,-16.379069,0,0.975,0.932,-15.572532,-17.096068
2019-10-21,0.932,0.006,0.019,0.005,0.024,0.02800,-0.0345,0.019,-0.374571,-17.470640,-16.597312,0,0.975,0.923,-15.844964,-17.470640

In [53]:
    # 26
    # BIAS赋值:(收盘价-收盘价的12日简单移动平均)/收盘价的12日简单移动平均*100
    BIAS = stock_data[['close']].rolling(window=12).mean()
    BIAS.columns = ['MA12']
    BIAS['BIAS'] = (stock_data['close']-BIAS['MA12'])/BIAS['MA12']*100
    # P26赋值:如果BIAS>10,返回1,否则返回如果BIAS<-10,返回-1,否则返回0
    BIAS['P26'] = 0
    BIAS.loc[BIAS['BIAS'] > 10, 'P26'] = 1
    BIAS.loc[BIAS['BIAS'] < -10, 'P26'] = -1

In [54]:
BIAS.tail()

                MA12      BIAS  P26
date
2019-10-15  0.957667  0.661330    0
2019-10-16  0.956333  0.069711    0
2019-10-17  0.954583  0.043649    0
2019-10-18  0.951417 -2.040816    0
2019-10-21  0.948583 -2.697004    0

In [55]:
    # 输出决策曲线: (36+P01+P02+P03+P04+P05+P06+P07+P08+P09+P10+P11+P12+P13+P14+P15+P16+P17+P18+P19+P20+P21+P22+P23+P24+P25+P26)*1.36
    Decision = (MAPO_RSV_KD['P01']+MAPO_RSV_KD['P02']+MAPO_RSV_KD['P03']+MAPO_RSV_KD['P04']
                +EMA_DEA['P05']+TRIX['P06']+HDLD['P07']+RSI['P08']+CCI['P09']+WR['P10']
                +OSC['P11']+MOM['P12']+DPO['P13']+BOLL['P14']+BRAR['P15']+THLQ['P16']+WVAD['P17']+EMV['P18']
                +OBV['P19']+PVI['P20']+NVI['P21']+MASS['P22']+VHF['P23']+PUCU['P24']+MASI['P25']+BIAS['P26']+36)*1.36

In [56]:
    # 输出MAJCQX:决策曲线的3日简单移动平均
    MAJCQX = Decision.rolling(window=3).mean()
    Risk_Ratio = pd.concat([stock_data['close'],Decision, MAJCQX], axis=1)
    Risk_Ratio.columns = ['close','Decision','MAJCQX']
    
    Risk_Ratio.index = pd.to_datetime(Risk_Ratio.index)
    Risk_Ratio = Risk_Ratio.sort_index(axis=0, ascending=True)

In [57]:
Risk_Ratio.tail()

            close  Decision     MAJCQX
date
2019-10-15  0.964     47.60  52.133333
2019-10-16  0.957     47.60  50.320000
2019-10-17  0.955     39.44  44.880000
2019-10-18  0.932     31.28  39.440000
2019-10-21  0.923     17.68  29.466667

In [58]:
# 计算风险率指标
import Risk_Ratio_Functions
Risk_Ratio_ALL = Risk_Ratio_Functions.Risk_Ratio(stock_data)
Risk_Ratio_ALL.tail()

            close  Decision     MAJCQX
date
2019-10-15  0.964     47.60  52.133333
2019-10-16  0.957     47.60  50.320000
2019-10-17  0.955     39.44  44.880000
2019-10-18  0.932     31.28  39.440000
2019-10-21  0.923     17.68  29.466667