In [1]:
import numpy as np
import pandas as pd
import Deposit_Cumulation_Functions as DC

In [2]:
# 银行利率（%）
Y1 = 1.5
Y2 = 2.1
Y3 = 2.75
Y5 = 2.75

### 消费型保险、储蓄型保险都有采用这种缴费保障方式，这种方式常见的险种主要是意外险、疾病险

#### 每年存入固定金额保费（Money），共存N年（HowManyYears），保障M年（HowManyYears+AgainYears）
* DepositCumulationMoneyEveryYears(Y5,Y3,Y2,Y1,Money,HowManyYears)
* DepositCumulationMoneyAgainYears(Y5,Y3,Y2,Y1,Money,MoneyAgainYears,HowManyYears,AgainYears)

### 平安保险-平安倍保如意意外保险（2008）
* 每月缴纳257元（每年3084元，按年计算），交费10年，保障15年，到期生存则返还所有保费30840元；意外保障15万元，公交保障30万元。

In [3]:
DC.DepositCumulationMoneyEveryYears(Y5,Y3,Y2,Y1,3084,10)

   存入次数 存入年限(年) 累积存入本金(元)  每笔利率(%)   每笔利息(元)    每笔本息(元)
0     1      10      3084  1.29391   906.407   3990.407
1     2       9      6168  1.24981   770.426   3854.426
2     3       8      9252  1.23134   713.464   3797.464
3     4       7     12336  1.18528   571.388   3655.388
4     5       6     15420  1.15456   476.671   3560.671
5     6       5     18504   1.1375   424.050   3508.050
6     7       4     21588  1.09874   304.506   3388.506
7     8       3     24672   1.0825   254.430   3338.430
8     9       2     27756    1.042   129.528   3213.528
9    10       1     30840    1.015    46.260   3130.260
合计                                  4597.130  35437.130

In [4]:
DC.DepositCumulationMoneyAgainYears(Y5,Y3,Y2,Y1,3084,35437.130,10,5)

,存款金额(元),存款年限(年),总年单利(%),总年复利(%),总期复利(%),利息(元),本息(元),总利息,平均年利息
0,35437.13,5,1.138,1.145,1.138,4872.605,40309.735,9469.735,631.316

In [5]:
ruyi2008 = pd.DataFrame()
ruyi2008[u'险种'] = [u'平安倍保如意2008：综合意外',u'平安倍保如意2008：公交意外']
ruyi2008[u'保额'] = [150000,300000]
ruyi2008[u'保费'] = [3084,3084]
ruyi2008[u'评价参数A'] = ruyi2008[u'保额']/ruyi2008[u'保费']
ruyi2008[u'评价参数B'] = ruyi2008[u'保额']/631.316
ruyi2008

                险种      保额    保费      评价参数A       评价参数B
0  平安倍保如意2008：综合意外  150000  3084  48.638132  237.598920
1  平安倍保如意2008：公交意外  300000  3084  97.276265  475.197841

### 平安保险-平安倍保如意意外保险（2010）
* 每月缴纳195元（每年2340元，按年计算），交费8年，保障15年，到期生存则返还所有保费18720元；意外保障10万元，公交保障20万元。

In [6]:
DC.DepositCumulationMoneyEveryYears(Y5,Y3,Y2,Y1,2340,8)

   存入次数 存入年限(年) 累积存入本金(元)  每笔利率(%)   每笔利息(元)    每笔本息(元)
0     1       8      2340  1.23134   541.344   2881.344
1     2       7      4680  1.18528   433.544   2773.544
2     3       6      7020  1.15456   361.676   2701.676
3     4       5      9360   1.1375   321.750   2661.750
4     5       4     11700  1.09874   231.046   2571.046
5     6       3     14040   1.0825   193.050   2533.050
6     7       2     16380    1.042    98.280   2438.280
7     8       1     18720    1.015    35.100   2375.100
合计                                  2215.790  20935.790

In [7]:
DC.DepositCumulationMoneyAgainYears(Y5,Y3,Y2,Y1,2340,20935.790,8,7)

,存款金额(元),存款年限(年),总年单利(%),总年复利(%),总期复利(%),利息(元),本息(元),总利息,平均年利息
0,20935.79,7,1.18,1.145,1.185,3878.878,24814.668,6094.668,406.311

In [8]:
ruyi2010 = pd.DataFrame()
ruyi2010[u'险种'] = [u'平安倍保如意2010：综合意外',u'平安倍保如意2010：公交意外']
ruyi2010[u'保额'] = [100000,200000]
ruyi2010[u'保费'] = [2340,2340]
ruyi2010[u'评价参数A'] = ruyi2010[u'保额']/ruyi2010[u'保费']
ruyi2010[u'评价参数B'] = ruyi2010[u'保额']/406.311
ruyi2010

                险种      保额    保费      评价参数A       评价参数B
0  平安倍保如意2010：综合意外  100000  2340  42.735043  246.116891
1  平安倍保如意2010：公交意外  200000  2340  85.470085  492.233782

### 中国太平洋-利赢年年年金保险（分红型）【年金型保险】
* 每年缴费5万元，共交5年，合计25万元；
* 基本保险金额：1797×5=8985元；
* 每年返还祝福金（年金）：8985×40%=3594元；
* 70周岁返还祝寿金为25万元；

In [9]:
DC.DepositCumulationMoneyEveryYears(Y5,Y3,Y2,Y1,50000,5)

   存入次数 存入年限(年) 累积存入本金(元)  每笔利率(%)    每笔利息(元)     每笔本息(元)
0     1       5     50000   1.1375   6875.000   56875.000
1     2       4    100000  1.09874   4936.875   54936.875
2     3       3    150000   1.0825   4125.000   54125.000
3     4       2    200000    1.042   2100.000   52100.000
4     5       1    250000    1.015    750.000   50750.000
合计                                  18786.875  268786.875

In [10]:
DC.DepositCumulationMoneyAgainYears(Y5,Y3,Y2,Y1,50000,268786.875,5,38)

,存款金额(元),存款年限(年),总年单利(%),总年复利(%),总期复利(%),利息(元),本息(元),总利息,平均年利息
0,268786.875,38,2.045,2.804,2.667,448174.568,716961.443,466961.443,10859.568

In [11]:
# 祝福金存入万能险账户的收益
DC.DepositCumulationMoneyEveryYears(Y5,Y3,Y2,Y1,3594,43).tail()

   存入次数 存入年限(年) 累积存入本金(元)  每笔利率(%)     每笔利息(元)     每笔本息(元)
39   40       4    143760  1.09874     354.863    3948.863
40   41       3    147354   1.0825     296.505    3890.505
41   42       2    150948    1.042     150.948    3744.948
42   43       1    154542    1.015      53.910    3647.910
合计                                  130416.796  284958.796

In [12]:
# 分红存入万能险账户的收益
DC.DepositCumulationMoneyEveryYears(Y5,Y3,Y2,Y1,776.6,42).tail()

   存入次数 存入年限(年) 累积存入本金(元)  每笔利率(%)    每笔利息(元)    每笔本息(元)
38   39       4   30287.4  1.09874     76.680    853.280
39   40       3     31064   1.0825     64.070    840.670
40   41       2   31840.6    1.042     32.617    809.217
41   42       1   32617.2    1.015     11.649    788.249
合计                                  26601.037  59218.237

### 平安保险-一年期个人交通意外伤害保险
* 每年缴费28元，消费型保险，缴费1年保障1年；
* 火车意外伤害身故和残疾（含地铁、轻轨）100万元；汽车意外伤害身故和残疾（含出租车）30万元。

### 2018年升级版
|保险责任|经典版|尊贵版|豪华版|
|:-----:|:---:|:---:|:---:|
|火车意外伤害身故和残疾（含地铁、轻轨）|100万元|100万元|100万元|
|汽车意外伤害身故和残疾（含出租车）|30万元|30万元|30万元|
|民航客机意外伤害身故和残疾|800万元|1000万元|2000万元|
|保费|156元/年|★178元/年|378元/年|

> [小雨伞千万空中飞人保](https://www.xiaoyusan.com/insurance/detail?id=108543)

> [平安短期航空意外险](http://www.4008000000.com/zaixiangoumai/baoxian/hangyixian.shtml)

> [平安一年期交通意外险](http://www.4008000000.com/zaixiangoumai/baoxian/jiaotongyiwaibaoxian.shtml)

In [13]:
gongjiao28 = pd.DataFrame()
gongjiao28[u'险种'] = [u'平安火车地铁意外身故和残疾',u'平安公车出租车意外身故和残疾']
gongjiao28[u'保额'] = [1000000,300000]
gongjiao28[u'保费'] = [21.54,6.46]
gongjiao28[u'评价参数A'] = gongjiao28[u'保额']/gongjiao28[u'保费']
gongjiao28[u'评价参数B'] = ''
gongjiao28

               险种       保额     保费         评价参数A 评价参数B
0   平安火车地铁意外身故和残疾  1000000  21.54  46425.255339
1  平安公车出租车意外身故和残疾   300000   6.46  46439.628483

### 平安保险-非机动车综合保障
* 每年缴费19.9元，消费型保险，缴费1年保障1年；
* 电瓶车、自行车驾驶人意外身故残疾：2万元；
* 电瓶车、自行车驾驶人意外医疗：4000元；
* 电瓶车、自行车第三者意外身故残疾：2万元；
* 电瓶车、自行车第三者意外伤害：4000元。

> [【平安保险】电瓶车畅行宝 非机动车/电动车/自行车/意外](https://baoxian.taobao.com/item.htm?id=43498932123)

In [14]:
feijdc = pd.DataFrame()
feijdc[u'险种'] = [u'平安非机动车意外险2015',u'平安非机动车意外险2017']
feijdc[u'保额'] = [44000,104000]
feijdc[u'保费'] = [19.9,29.9]
feijdc[u'评价参数A'] = feijdc[u'保额']/feijdc[u'保费']
feijdc[u'评价参数B'] = ''
feijdc

              险种      保额    保费        评价参数A 评价参数B
0  平安非机动车意外险2015   44000  19.9  2211.055276
1  平安非机动车意外险2017  104000  29.9  3478.260870

### 小雨伞-中国人寿父母综合意外险
* 66周岁之后购买，66周岁之前购买成人意外险

|保险责任|经典版|尊贵版|豪华版|
|:-----:|:---:|:---:|:---:|
|意外身故伤残保额|5万元|10万元|20万元|
|意外医疗保额<br>（免赔额度100%，90%比例给付，限社保范围内）|5000元，1万元，1.5万元|
|意外住院津贴|50元/天<br>每次以30天为限<br>累积以90天为限|50元/天<br>每次以30天为限<br>累积以90天为限|80元/天<br>每次以30天为限<br>累积以90天为限|
|保费：66-75周岁|85元/年|100元/年|188元/年|
|保费：76-80周岁|170元/年|240元/年|400元/年|
|保费：81-85周岁|255元/年|320元/年|500元/年|

In [15]:
xys_zgrs_ywx = pd.DataFrame()
xys_zgrs_ywx[u'险种'] = [u'小雨伞-中国人寿父母综合意外险-经典版',u'小雨伞-中国人寿父母综合意外险-尊贵版',u'小雨伞-中国人寿父母综合意外险-豪华版']
xys_zgrs_ywx[u'保额'] = [55000,110000,215000]
xys_zgrs_ywx[u'保费'] = [85,100,188]
xys_zgrs_ywx[u'评价参数A'] = xys_zgrs_ywx[u'保额']/xys_zgrs_ywx[u'保费']
xys_zgrs_ywx[u'评价参数B'] = ''
xys_zgrs_ywx

                    险种      保额   保费        评价参数A 评价参数B
0  小雨伞-中国人寿父母综合意外险-经典版   55000   85   647.058824
1  小雨伞-中国人寿父母综合意外险-尊贵版  110000  100  1100.000000
2  小雨伞-中国人寿父母综合意外险-豪华版  215000  188  1143.617021

### 小雨伞-中国人寿父母防癌险
* 父母防癌险只保障部分癌症，出险是一次性赔付。

|保险责任|经典版|尊贵版|
|:-----:|:---:|:---:|
|恶性肿瘤保额|5万元|10万元|
||||
|保费：51-55岁【男】|175|350|
|保费：51-55岁【女】|156|311|
||||
|保费：56-60岁【男】|331|661|
|保费：56-60岁【女】|229|459|
||||
|保费：61-65岁【男】|474|949|
|保费：61-65岁【女】|319|638|

In [16]:
xys_zgrs_fax = pd.DataFrame()
xys_zgrs_fax[u'险种'] = [u'小雨伞-中国人寿父母防癌险-经典版（61-65岁【男】）',u'小雨伞-中国人寿父母防癌险-尊贵版（61-65岁【男】）',
                         u'小雨伞-中国人寿父母防癌险-经典版（61-65岁【女】）',u'小雨伞-中国人寿父母防癌险-尊贵版（61-65岁【女】）',
                         u'小雨伞-中国人寿父母防癌险-经典版（51-55岁【男】）',u'小雨伞-中国人寿父母防癌险-尊贵版（51-55岁【男】）',
                         u'小雨伞-中国人寿父母防癌险-经典版（51-55岁【女】）',u'小雨伞-中国人寿父母防癌险-尊贵版（51-55岁【女】）']
xys_zgrs_fax[u'保额'] = [50000,100000,
                         50000,100000,
                         50000,100000,
                         50000,100000]
xys_zgrs_fax[u'保费'] = [474,949,
                         319,638,
                         175,350,
                         156,311]
xys_zgrs_fax[u'评价参数A'] = xys_zgrs_fax[u'保额']/xys_zgrs_fax[u'保费']
xys_zgrs_fax[u'评价参数B'] = ''
xys_zgrs_fax

                             险种      保额   保费       评价参数A 评价参数B
0  小雨伞-中国人寿父母防癌险-经典版（61-65岁【男】）   50000  474  105.485232
1  小雨伞-中国人寿父母防癌险-尊贵版（61-65岁【男】）  100000  949  105.374078
2  小雨伞-中国人寿父母防癌险-经典版（61-65岁【女】）   50000  319  156.739812
3  小雨伞-中国人寿父母防癌险-尊贵版（61-65岁【女】）  100000  638  156.739812
4  小雨伞-中国人寿父母防癌险-经典版（51-55岁【男】）   50000  175  285.714286
5  小雨伞-中国人寿父母防癌险-尊贵版（51-55岁【男】）  100000  350  285.714286
6  小雨伞-中国人寿父母防癌险-经典版（51-55岁【女】）   50000  156  320.512821
7  小雨伞-中国人寿父母防癌险-尊贵版（51-55岁【女】）  100000  311  321.543408

### 小雨伞老顽童癌症医疗险
* 老顽童保障所有癌症，是报销型的。
* [老顽童癌症医疗险](https://www.xiaoyusan.com/insurance/detail?id=123762)

In [17]:
xys_lwt_az = pd.DataFrame()
xys_lwt_az[u'险种'] = [u'小雨伞老顽童癌症医疗险-58年',u'小雨伞老顽童癌症医疗险-57年',u'小雨伞老顽童癌症医疗险-62年',u'小雨伞老顽童癌症医疗险-64年']
xys_lwt_az[u'保额'] = [2000000,2000000,2000000,2000000]
xys_lwt_az[u'保费'] = [426,426,376,376]
xys_lwt_az[u'评价参数A'] = xys_lwt_az[u'保额']/xys_lwt_az[u'保费']
xys_lwt_az[u'评价参数B'] = ''
xys_lwt_az

                险种       保额   保费        评价参数A 评价参数B
0  小雨伞老顽童癌症医疗险-58年  2000000  426  4694.835681
1  小雨伞老顽童癌症医疗险-57年  2000000  426  4694.835681
2  小雨伞老顽童癌症医疗险-62年  2000000  376  5319.148936
3  小雨伞老顽童癌症医疗险-64年  2000000  376  5319.148936

### 小雨伞境内出行保
* [小雨伞8毛境内出行保](https://www.xiaoyusan.com/insurance/detail?id=122493)

In [18]:
xys_cxb = pd.DataFrame()
xys_cxb[u'险种'] = [u'小雨伞出行宝-基础版-1日',u'小雨伞出行宝-经典版-1日',u'小雨伞出行宝-尊贵版-1日',u'小雨伞出行宝-豪华版-1日']
xys_cxb[u'保额'] = [100000,150000,300000,500000]
xys_cxb[u'保费'] = [0.8,6,15,30]
xys_cxb[u'评价参数A'] = xys_cxb[u'保额']/xys_cxb[u'保费']
xys_cxb[u'评价参数B'] = ''
xys_cxb

              险种      保额    保费          评价参数A 评价参数B
0  小雨伞出行宝-基础版-1日  100000   0.8  125000.000000
1  小雨伞出行宝-经典版-1日  150000   6.0   25000.000000
2  小雨伞出行宝-尊贵版-1日  300000  15.0   20000.000000
3  小雨伞出行宝-豪华版-1日  500000  30.0   16666.666667

### 平安国内自助游保险
* [平安保险-国内旅游-自助游保险](http://www.4008000000.com/zaixiangoumai/baoxian/guoneilvyoubaoxianzzy.shtml)

In [19]:
PA_zzy = pd.DataFrame()
PA_zzy[u'险种'] = [u'平安自助游-基础版-1日',u'平安自助游-经典版-1日',u'平安自助游-尊贵版-1日',u'平安自助游-豪华版-1日']
PA_zzy[u'保额'] = [100000,150000,300000,500000]
PA_zzy[u'保费'] = [2.8,9.6,18.4,29.4]
PA_zzy[u'评价参数A'] = PA_zzy[u'保额']/PA_zzy[u'保费']
PA_zzy[u'评价参数B'] = ''
PA_zzy

             险种      保额    保费         评价参数A 评价参数B
0  平安自助游-基础版-1日  100000   2.8  35714.285714
1  平安自助游-经典版-1日  150000   9.6  15625.000000
2  平安自助游-尊贵版-1日  300000  18.4  16304.347826
3  平安自助游-豪华版-1日  500000  29.4  17006.802721

### 平安家庭财产保险 VS 小雨伞家财无忧险
* 两款均是平安保险承保

> [平安家庭财产保险](http://www.4008000000.com/zaixiangoumai/baoxian/jiatingcaichanbaoxian.shtml?WT.mc_id=direct)

> [淘宝-家庭房屋火灾险](https://baoxian.taobao.com/item.htm?spm=a1z10.5-b-s.w4011-16397087536.22.238b7117w7Se2I&id=556336057669&rn=1b44c2974ee8f50a43337b5eff18cbb4&abbucket=17)

> [淘宝-居家防盗保险](https://baoxian.taobao.com/item.htm?spm=a1z10.5-b-s.w4011-16397087536.26.238b7117w7Se2I&id=43730061721&rn=1b44c2974ee8f50a43337b5eff18cbb4&abbucket=17)

> [淘宝-家庭财产综合](https://baoxian.taobao.com/item.htm?spm=a1z10.5-b-s.w4011-16397087536.12.238b7117w7Se2I&id=43388897320&rn=1b44c2974ee8f50a43337b5eff18cbb4&abbucket=17)

> [小雨伞-平安家财无忧险](https://www.xiaoyusan.com/insurance/detail?id=120745)

> [小雨伞-千万房屋险](https://www.xiaoyusan.com/insurance/detail?id=107371)

> [众安-家庭财产综合保险](https://baoxian.taobao.com/item.html?id=562844020110)

|保险责任|淘宝版-火灾50万|淘宝版-火灾500万|淘宝版-火灾1000万|淘宝版-防盗5万|淘宝版-防盗10万|淘宝版200万|淘宝版300万|淘宝版500万|
|:-----:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
|房屋主体损失（火灾爆炸）|50万元|500万元|1000万元|||200万元|300万元|500万元|
|房屋装修损失（火灾爆炸）|2万元|50万元|100万元|||10万元|30万元|40万元|
|室内财产损失（火灾爆炸）|2万元|10万元|20万元|5万元|10万元|5万元|8万元|10万元|
|盗抢损失||||5万元|10万元|0.2万元|1万元|5万元|
|水暖管爆裂||||||0.2万元|1万元|3万元|
|居家责任||||||0.5万元|5万元|10万元|
||||||||||
|保费|9.9|★60.0|120.0|120.0|180.0|85.0|188.0|365.0|

|保险责任|小雨伞房屋险|平安家财|小雨伞家财|平安家财|众安家财
|:-----:|:---:|:---:|:---:|:---:|:---:|
|房屋|500万元|500万元|100万元|100万元|200万元|
|房屋附属|||10万元|0|0|
|室内装潢|||10万元|10万元|30万元|
|室内财产|||10万元|10万元|20万元|
|管道破裂及水渍保障|||10万元|10万元|5万元|
|居家责任|||30万元|30万元|10万元|
|盗抢损失|||||5万元|
|||||||
|保费|99.0|200.0|300.0|370|★98.0|

> 房屋火宅险

![](huozhaifangwu.jpg)

> 房屋盗抢险

![](fangdao.jpg)

> 房屋家财综合险

![](jiacai.jpg)

### 平安出租无忧保险
|保险责任|淘宝版50万计划|淘宝版200万计划|淘宝版500万计划|官网版30万计划|官网版100万计划|官网版300万计划|
|:-----:|:---:|:---:|:---:|
|房屋主体损失|50万元|200万元|500万元|30万元|100万元|300万元|
|房屋装修损失|10万元|20万元|50万元|5万元|20万元|50万元|
|室内财产|0|0|0|3万元|10万元|20万元|
|管道破裂及水渍损失|1万元|2万元|5万元|0|1万元|3万元|
|家庭第三者责任|1万元|2万元|3万元|0|0|0|
|出租人责|10万元|20万元|30万元|10万元|20万元|50万元|
|额外租房费用补偿|10万元|20万元|30万元|0.5万元|1万元|3万元|
|租金收入损失补偿|1万元|2万元|5万元|1万元|3万元|10万元|
||||||||
|保费|70|150|★249|100|300|500|

> [【中国平安】房东出租无忧保险/家庭财产险/火灾爆炸/装修损失](https://baoxian.taobao.com/item.htm?id=563994191530)

> [【中国平安】租客租房无忧保险/房屋财产险/火灾/盗抢/意外险](https://baoxian.taobao.com/item.htm?id=563902874066)

> [【平安保险】出租无忧家居保险](http://www.4008000000.com/zaixiangoumai/baoxian/chuzubaoxian.shtml?WT.mc_id=direct)

![](chuzubaoxian.jpg)

In [20]:
PA_cz = pd.DataFrame()
PA_cz[u'险种'] = [u'出租无忧-淘宝版-50万',u'出租无忧-淘宝版-200万',u'出租无忧-淘宝版-500万',
                  u'出租无忧-官网版-30万',u'出租无忧-官网版-100万',u'出租无忧-官网版-300万']
PA_cz[u'保额'] = [830000,2660000,6230000,495000,1550000,4360000]
PA_cz[u'保费'] = [70,150,249,100,300,500]
PA_cz[u'评价参数A'] = PA_cz[u'保额']/PA_cz[u'保费']
PA_cz[u'评价参数B'] = ''
PA_cz

              险种       保额   保费         评价参数A 评价参数B
0   出租无忧-淘宝版-50万   830000   70  11857.142857
1  出租无忧-淘宝版-200万  2660000  150  17733.333333
2  出租无忧-淘宝版-500万  6230000  249  25020.080321
3   出租无忧-官网版-30万   495000  100   4950.000000
4  出租无忧-官网版-100万  1550000  300   5166.666667
5  出租无忧-官网版-300万  4360000  500   8720.000000

### 百万医疗险

> [小雨伞钢铁侠乐享一生百万医疗险2018](https://www.xiaoyusan.com/insurance/detail?id=119828)

|保险责任|小雨伞|平安保险|微信保险|太平洋保险|华泰保险|
|:-----:|:---:|:---:|:---:|
|一般医疗险|200万元|300万元|300万元|300万元|300万元|
|恶性肿瘤医疗险|200万元|300万元||600万元|
|重疾医疗险|||600万元|300万元||
|一般医疗免赔额度|2万元|1万元|1万元|1万元|1万元|
||||||
|保费|386元|427元|★372元|437元|397元|

## 保险分析参数统计表

In [21]:
insurance_analyse = pd.concat([ruyi2008.T, ruyi2010.T,gongjiao28.T,feijdc.T,xys_zgrs_ywx.T,xys_lwt_az.T,
                               xys_cxb.T,PA_zzy.T,PA_cz.T], axis=1).T
insurance_analyse = insurance_analyse.reset_index(drop=True)

In [22]:
insurance_analyse

                     险种       保额     保费    评价参数A    评价参数B
0       平安倍保如意2008：综合意外   150000   3084  48.6381  237.599
1       平安倍保如意2008：公交意外   300000   3084  97.2763  475.198
2       平安倍保如意2010：综合意外   100000   2340   42.735  246.117
3       平安倍保如意2010：公交意外   200000   2340  85.4701  492.234
4         平安火车地铁意外身故和残疾  1000000  21.54  46425.3
5        平安公车出租车意外身故和残疾   300000   6.46  46439.6
6         平安非机动车意外险2015    44000   19.9  2211.06
7         平安非机动车意外险2017   104000   29.9  3478.26
8   小雨伞-中国人寿父母综合意外险-经典版    55000     85  647.059
9   小雨伞-中国人寿父母综合意外险-尊贵版   110000    100     1100
10  小雨伞-中国人寿父母综合意外险-豪华版   215000    188  1143.62
11      小雨伞老顽童癌症医疗险-58年  2000000    426  4694.84
12      小雨伞老顽童癌症医疗险-57年  2000000    426  4694.84
13      小雨伞老顽童癌症医疗险-62年  2000000    376  5319.15
14      小雨伞老顽童癌症医疗险-64年  2000000    376  5319.15
15        小雨伞出行宝-基础版-1日   100000    0.8   125000
16        小雨伞出行宝-经典版-1日   150000      6    25000
17        小雨伞出行宝-尊贵版-1日   300000     15    20000
18        小雨伞出行宝-豪华版-1日   500000     30  16666.7
19         平安自助游-基础版-1日   100000    2.8  35714.3
20         平安自助游-经典版-1日   150000    9.6    15625
21         平安自助游-尊贵版-1日   300000   18.4  16304.3
22         平安自助游-豪华版-1日   500000   29.4  17006.8
23         出租无忧-淘宝版-50万   830000     70  11857.1
24        出租无忧-淘宝版-200万  2660000    150  17733.3
25        出租无忧-淘宝版-500万  6230000    249  25020.1
26         出租无忧-官网版-30万   495000    100     4950
27        出租无忧-官网版-100万  1550000    300  5166.67
28        出租无忧-官网版-300万  4360000    500     8720