In [1]:
import tushare as ts
import pandas as pd
import pymysql
import baostock as bs
import time

In [2]:
hs300_ts = ts.get_hs300s()
hs300_ts.head()

        date    code  name  weight
0 2019-09-30  600000  浦发银行    1.12
1 2019-09-30  600004  白云机场    0.19
2 2019-09-30  600009  上海机场    0.62
3 2019-09-30  600010  包钢股份    0.22
4 2019-09-30  600011  华能国际    0.21

In [3]:
lg = bs.login()
rs = bs.query_hs300_stocks()
hs300_stocks = []
while (rs.error_code == '0') & rs.next():
    hs300_stocks.append(rs.get_row_data())
hs300_bs = pd.DataFrame(hs300_stocks, columns=rs.fields)
bs.logout()
hs300_bs.head()

login success!
logout success!

   updateDate       code code_name
0  2019-09-23  sh.600000      浦发银行
1  2019-09-23  sh.600004      白云机场
2  2019-09-23  sh.600009      上海机场
3  2019-09-23  sh.600010      包钢股份
4  2019-09-23  sh.600011      华能国际

In [4]:
hs300_bs.rename(columns={'code':'bs_code'}, inplace=True)
hs300_bs['code'] = ''
for i in range(0,len(hs300_bs['bs_code'])):
    hs300_bs['code'][i] = str(hs300_bs['bs_code'][i])[3:]

In [5]:
hs300_bs.head()

   updateDate    bs_code code_name    code
0  2019-09-23  sh.600000      浦发银行  600000
1  2019-09-23  sh.600004      白云机场  600004
2  2019-09-23  sh.600009      上海机场  600009
3  2019-09-23  sh.600010      包钢股份  600010
4  2019-09-23  sh.600011      华能国际  600011

In [6]:
hs300 = pd.merge(hs300_bs,hs300_ts,on=['code'], how='right')#left
hs300.tail()

     updateDate    bs_code code_name    code       date  name  weight
295  2019-09-23  sz.300296       利亚德  300296 2019-09-30   利亚德    0.10
296  2019-09-23  sz.300408      三环集团  300408 2019-09-30  三环集团    0.17
297  2019-09-23  sz.300413      芒果超媒  300413 2019-09-30  芒果超媒    0.08
298  2019-09-23  sz.300433      蓝思科技  300433 2019-09-30  蓝思科技    0.07
299  2019-09-23  sz.300498      温氏股份  300498 2019-09-30  温氏股份    1.12

In [7]:
def DB_Select(code):
    
    #### 连接database ####
    # conn = pymysql.connect(host=“你的数据库地址”, user=“用户名”,password=“密码”,database=“数据库名”,charset=“utf8”)
    conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='123456' ,charset='utf8')
    # 使用cursor()方法获取操作游标，cursor()得到一个可以执行SQL语句的光标对象
    cursor = conn.cursor()
    
    #### 选择数据库：stock ####
    Select_DataBase = "use stock;"
    cursor.execute(Select_DataBase)
    table_name = code
    
    sql_select = """select * from %s"""% table_name
    
    df = pd.read_sql(sql_select, con=conn)
    
    # 关闭光标对象
    cursor.close()
    # 关闭数据库连接
    conn.close()
    
    return df

In [8]:
stock_basic = DB_Select('stock_basic')
stock_basic.rename(columns={'code':'bs_code','code_name':'code_name_sb'}, inplace=True)
stock_basic.head()

   id    bs_code code_name_sb     ipoDate outDate stocktype tradeStatus
0   1  sh.000001       上证综合指数  1991-07-15                 2           1
1   2  sh.000002       上证A股指数  1992-02-21                 2           1
2   3  sh.000003       上证B股指数  1992-08-17                 2           1
3   4  sh.000004      上证工业类指数  1993-05-03                 2           1
4   5  sh.000005      上证商业类指数  1993-05-03                 2           1

In [9]:
hs300 = pd.merge(hs300,stock_basic,on=['bs_code'], how='left')#right
hs300.tail()

,updateDate,bs_code,code_name,code,date,name,weight,id,code_name_sb,ipoDate,outDate,stocktype,tradeStatus
295,2019-09-23,sz.300296,利亚德,300296,2019-09-30,利亚德,0.10,3542,利亚德,2012-03-15,,1,1
296,2019-09-23,sz.300408,三环集团,300408,2019-09-30,三环集团,0.17,3653,三环集团,2014-12-03,,1,1
297,2019-09-23,sz.300413,芒果超媒,300413,2019-09-30,芒果超媒,0.08,3658,芒果超媒,2015-01-21,,1,1
298,2019-09-23,sz.300433,蓝思科技,300433,2019-09-30,蓝思科技,0.07,3678,蓝思科技,2015-03-18,,1,1
299,2019-09-23,sz.300498,温氏股份,300498,2019-09-30,温氏股份,1.12,3743,温氏股份,2015-11-02,,1,1

In [10]:
hs300['startdate'] = ''

In [11]:
for j in range(0,len(hs300['ipoDate'])):
    hs300.loc[j,'startdate'] = str(hs300['ipoDate'][j])[0:4]+'-01-01'

In [12]:
hs300.head()

,updateDate,bs_code,code_name,code,date,name,weight,id,code_name_sb,ipoDate,outDate,stocktype,tradeStatus,startdate
0,2019-09-23,sh.600000,浦发银行,600000,2019-09-30,浦发银行,1.12,230,浦发银行,1999-11-10,,1,1,1999-01-01
1,2019-09-23,sh.600004,白云机场,600004,2019-09-30,白云机场,0.19,234,白云机场,2003-04-28,,1,1,2003-01-01
2,2019-09-23,sh.600009,上海机场,600009,2019-09-30,上海机场,0.62,239,上海机场,1998-02-18,,1,1,1998-01-01
3,2019-09-23,sh.600010,包钢股份,600010,2019-09-30,包钢股份,0.22,240,包钢股份,2001-03-09,,1,1,2001-01-01
4,2019-09-23,sh.600011,华能国际,600011,2019-09-30,华能国际,0.21,241,华能国际,2001-12-06,,1,1,2001-01-01

In [13]:
hs300['ts_TradeCount'] = ''
cons = ts.get_apis()

In [14]:
for k in range(0,len(hs300['startdate'])):
    print(k,hs300['code'][k],hs300['name'][k])
    code = hs300['code'][k]
    hs300_single = ts.bar(code, conn=cons)
    hs300.loc[k,'ts_TradeCount'] = len(hs300_single['code'])
    print(len(hs300_single['code']),'\n')

0 600000 浦发银行
4692

1 600004 白云机场
3933

2 600009 上海机场
5190

3 600010 包钢股份
4378

4 600011 华能国际
4243

5 600015 华夏银行
3792

6 600016 民生银行
4481

7 600018 上港集团
4511

8 600019 宝钢股份
4393

9 600023 浙能电力
1412

10 600025 华能水电
437

11 600027 华电国际
3504

12 600028 中国石化
4342

13 600029 南方航空
3823

14 600030 中信证券
3965

15 600031 三一重工
3891

16 600036 招商银行
4164

17 600038 中直股份
4390

18 600048 保利地产
3181

19 600050 中国联通
3977

20 600061 国投资本
5217

21 600066 宇通客车
5331

22 600068 葛洲坝
5297

23 600085 同仁堂
5349

24 600089 特变电工
5206

25 600100 同方股份
5154

26 600104 上汽集团
5172

27 600109 国金证券
5192

28 600111 北方稀土
5271

29 600115 东方航空
5099

30 600118 中国卫星
5269

31 600153 建发股份
4859

32 600170 上海建工
5035

33 600176 中国巨石
4835

34 600177 雅戈尔
4922

35 600188 兖州煤业
5067

36 600196 复星医药
5033

37 600208 新湖中宝
4716

38 600219 南山铝业
4611

39 600221 海航控股
4536

40 600233 圆通速递
4540

41 600271 航天信息
3746

42 600276 恒瑞医药
4542

43 600297 广汇汽车
4222

44 600299 安迪苏
4432

45 600309 万华化学
4337

46 600332 白云山
4281

47 600339 中油工程
4319

48 600340 华夏幸福
3628

49 600346 恒力石化
4031

50 600352 浙江龙盛
3837

51 600362 江西铜业
4212

52 600369 西南证券
4048

53 600372 中航电子
3935

54 600383 金地集团
4334

55 600390 五矿资本
4331

56 600398 海澜之家
4409

57 600406 国电南瑞
3663

58 600415 小商品城
4090

59 600436 片仔癀
3895

60 600438 通威股份
3580

61 600482 中国动力
3501

62 600487 亨通光电
3726

63 600489 中金黄金
3827

64 600498 烽火通信
4286

65 600516 方大炭素
3983

66 600519 贵州茅台
4307

67 600522 中天科技
3973

68 600535 天士力
4079

69 600547 山东黄金
3663

70 600566 济川药业
4211

71 600570 恒生电子
3724

72 600583 海油工程
4217

73 600585 海螺水泥
4215

74 600588 用友网络
4390

75 600606 绿地控股
6262

76 600637 东方明珠
6035

77 600660 福耀玻璃
6322

78 600663 陆家嘴
6203

79 600674 川投能源
6138

80 600688 上海石化
6162

81 600690 海尔智家
6108

82 600703 三安光电
5263

83 600704 物产中大
5384

84 600705 中航资本
4222

85 600733 北汽蓝谷
5003

86 600741 华域汽车
5425

87 600760 中航沈飞
5324

88 600795 国电电力
5281

89 600809 山西汾酒
6184

90 600816 安信信托
5688

91 600837 海通证券
5526

92 600867 通化东宝
5981

93 600886 国投电力
5459

94 600887 伊利股份
5599

95 600893 航发动力
5039

96 600900 长江电力
3434

97 600919 江苏银行
772

98 600926 杭州银行
717

99 600958 东方证券
1102

100 600977 中国电影
767

101 600998 九州通
2149

102 600999 招商证券
2389

103 601006 大秦铁路
3183

104 601009 南京银行
2950

105 601012 隆基股份
1781

106 601018 宁波港
2053

107 601021 春秋航空
1122

108 601066 中信建投
315

109 601088 中国神华
2850

110 601108 财通证券
475

111 601111 中国国航
3125

112 601117 中国化学
2360

113 601138 工业富联
322

114 601155 新城控股
923

115 601162 天风证券
234

116 601166 兴业银行
3055

117 601169 北京银行
2872

118 601186 中国铁建
2796

119 601198 东兴证券
1117

120 601211 国泰君安
1042

121 601212 白银有色
601

122 601216 君正集团
1971

123 601225 陕西煤业
1385

124 601228 广州港
614

125 601229 上海银行
703

126 601238 广汽集团
1816

127 601288 农业银行
2238

128 601298 青岛港
170

129 601318 中国平安
3000

130 601319 中国人保
214

131 601328 交通银行
3002

132 601336 新华保险
1868

133 601360 三六零
1748

134 601377 兴业证券
2165

135 601390 中国中铁
2784

136 601398 工商银行
3126

137 601555 东吴证券
1891

138 601577 长沙银行
246

139 601600 中国铝业
2880

140 601601 中国太保
2856

141 601607 上海医药
5942

142 601618 中国中冶
2359

143 601628 中国人寿
3089

144 601633 长城汽车
1922

145 601668 中国建筑
2469

146 601669 中国电建
1822

147 601688 华泰证券
2325

148 601727 上海电气
2353

149 601766 中国中车
2607

150 601788 光大证券
2440

151 601800 中国交建
1841

152 601808 中海油服
2910

153 601818 光大银行
2199

154 601828 美凯龙
414

155 601838 成都银行
405

156 601857 中国石油
2891

157 601877 正泰电器
2216

158 601878 浙商证券
556

159 601881 中国银河
656

160 601888 中国国旅
2360

161 601898 中煤能源
2827

162 601899 紫金矿业
2744

163 601901 方正证券
1862

164 601919 中远海控
2801

165 601933 永辉超市
2117

166 601939 建设银行
2909

167 601985 中国核电
1053

168 601988 中国银行
3209

169 601989 中国重工
2091

170 601992 金隅集团
2064

171 601997 贵阳银行
762

172 601998 中信银行
3004

173 603019 中科曙光
1181

174 603156 养元饮品
397

175 603160 汇顶科技
725

176 603259 药明康德
345

177 603260 合盛硅业
471

178 603288 海天味业
1380

179 603799 华友钴业
1107

180 603833 欧派家居
609

181 603858 步长制药
701

182 603986 兆易创新
554

183 603993 洛阳钼业
1679

184 000001 平安银行
6567

185 000002 万科Ａ
6507

186 000063 中兴通讯
5141

187 000069 华侨城Ａ
5200

188 000100 TCL集团
3455

189 000157 中联重科
4460

190 000166 申万宏源
1113

191 000333 美的集团
1409

192 000338 潍柴动力
2963

193 000402 金 融 街
5557

194 000408 藏格控股
5142

195 000413 东旭光电
5315

196 000415 渤海租赁
4885

197 000423 东阿阿胶
5451

198 000425 徐工机械
5463

199 000538 云南白药
6015

200 000553 安道麦A
5816

201 000568 泸州老窖
6041

202 000596 古井贡酒
5360

203 000625 长安汽车
5157

204 000627 天茂集团
5338

205 000629 攀钢钒钛
4822

206 000630 铜陵有色
5306

207 000651 格力电器
5319

208 000656 金科股份
5039

209 000661 长春高新
5408

210 000671 阳光城
5221

211 000703 恒逸石化
5273

212 000709 河钢股份
5226

213 000725 京东方A
4406

214 000728 国元证券
5088

215 000768 中航飞机
5219

216 000776 广发证券
4469

217 000783 长江证券
5065

218 000786 北新建材
5200

219 000858 五 粮 液
5056

220 000876 新 希 望
4978

221 000895 双汇发展
4468

222 000898 鞍钢股份
5196

223 000938 紫光股份
4575

224 000961 中南建设
4457

225 000963 华东医药
4599

226 001979 招商蛇口
916

227 002001 新和成
3652

228 002007 华兰生物
3636

229 002008 大族激光
3624

230 002010 传化智联
3530

231 002024 苏宁易购
3625

232 002027 分众传媒
3535

233 002032 苏泊尔
3569

234 002044 美年健康
3136

235 002050 三花智控
3259

236 002065 东华软件
2818

237 002081 金螳螂
3058

238 002120 韵达股份
2935

239 002142 宁波银行
2955

240 002146 荣盛发展
2905

241 002153 石基信息
2829

242 002179 中航光电
2883

243 002202 金风科技
2832

244 002230 科大讯飞
2686

245 002236 大华股份
2745

246 002241 歌尔股份
2735

247 002252 上海莱士
2261

248 002271 东方雨虹
2662

249 002294 信立泰
2441

250 002304 洋河股份
2398

251 002310 东方园林
2162

252 002311 海大集团
2370

253 002352 顺丰控股
2292

254 002410 广联达
2231

255 002411 延安必康
1967

256 002415 海康威视
2221

257 002422 科伦药业
2242

258 002456 欧菲光
2157

259 002460 赣锋锂业
2135

260 002466 天齐锂业
2056

261 002468 申通快递
2067

262 002475 立讯精密
2170

263 002493 荣盛石化
2160

264 002508 老板电器
2149

265 002555 三七互娱
1806

266 002558 巨人网络
1720

267 002594 比亚迪
1998

268 002601 龙蟒佰利
1893

269 002602 世纪华通
1521

270 002624 完美世界
1543

271 002625 光启技术
1614

272 002673 西部证券
1788

273 002714 牧原股份
1360

274 002736 国信证券
1154

275 002739 万达电影
700

276 002773 康弘药业
1042

277 002925 盈趣科技
415

278 002938 鹏鼎控股
251

279 002939 长城证券
229

280 002945 华林证券
172

281 300003 乐普医疗
2294

282 300015 爱尔眼科
2397

283 300017 网宿科技
2361

284 300024 机器人
2405

285 300033 同花顺
2355

286 300059 东方财富
2256

287 300070 碧水源
2218

288 300072 三聚环保
2226

289 300122 智飞生物
2116

290 300124 汇川技术
2171

291 300136 信维通信
2095

292 300142 沃森生物
1890

293 300144 宋城演艺
2053

294 300251 光线传媒
1869

295 300296 利亚德
1660

296 300408 三环集团
1169

297 300413 芒果超媒
886

298 300433 蓝思科技
1086

299 300498 温氏股份
947

In [15]:
ts.close_apis(cons)

In [16]:
hs300 = hs300[['updateDate','bs_code','date','code','code_name','weight','ipoDate','tradeStatus','startdate','ts_TradeCount']]
hs300

,updateDate,bs_code,date,code,code_name,weight,ipoDate,tradeStatus,startdate,ts_TradeCount
0,2019-09-23,sh.600000,2019-09-30,600000,浦发银行,1.12,1999-11-10,1,1999-01-01,4692
1,2019-09-23,sh.600004,2019-09-30,600004,白云机场,0.19,2003-04-28,1,2003-01-01,3933
2,2019-09-23,sh.600009,2019-09-30,600009,上海机场,0.62,1998-02-18,1,1998-01-01,5190
3,2019-09-23,sh.600010,2019-09-30,600010,包钢股份,0.22,2001-03-09,1,2001-01-01,4378
4,2019-09-23,sh.600011,2019-09-30,600011,华能国际,0.21,2001-12-06,1,2001-01-01,4243
5,2019-09-23,sh.600015,2019-09-30,600015,华夏银行,0.37,2003-09-12,1,2003-01-01,3792
6,2019-09-23,sh.600016,2019-09-30,600016,民生银行,1.21,2000-12-19,1,2000-01-01,4481
7,2019-09-23,sh.600018,2019-09-30,600018,上港集团,0.15,2006-10-26,1,2006-01-01,4511
8,2019-09-23,sh.600019,2019-09-30,600019,宝钢股份,0.43,2000-12-12,1,2000-01-01,4393
9,2019-09-23,sh.600023,2019-09-30,600023,浙能电力,0.13,2013-12-19,1,2013-01-01,1412
10,2019-09-23,sh.600025,2019-09-30,600025,华能水电,0.06,2017-12-15,1,2017-01-01,437
11,2019-09-23,sh.600027,2019-09-30,600027,华电国际,0.09,2005-02-03,1,2005-01-01,3504
12,2019-09-23,sh.600028,2019-09-30,600028,中国石化,0.54,2001-08-08,1,2001-01-01,4342
13,2019-09-23,sh.600029,2019-09-30,600029,南方航空,0.18,2003-07-25,1,2003-01-01,3823
14,2019-09-23,sh.600030,2019-09-30,600030,中信证券,1.43,2003-01-06,1,2003-01-01,3965
15,2019-09-23,sh.600031,2019-09-30,600031,三一重工,0.68,2003-07-03,1,2003-01-01,3891
16,2019-09-23,sh.600036,2019-09-30,600036,招商银行,2.89,2002-04-09,1,2002-01-01,4164
17,2019-09-23,sh.600038,2019-09-30,600038,中直股份,0.11,2000-12-18,1,2000-01-01,4390
18,2019-09-23,sh.600048,2019-09-30,600048,保利地产,0.82,2006-07-31,1,2006-01-01,3181
19,2019-09-23,sh.600050,2019-09-30,600050,中国联通,0.45,2002-10-09,1,2002-01-01,3977
20,2019-09-23,sh.600061,2019-09-30,600061,国投资本,0.17,1997-05-19,1,1997-01-01,5217
21,2019-09-23,sh.600066,2019-09-30,600066,宇通客车,0.15,1997-05-08,1,1997-01-01,5331
22,2019-09-23,sh.600068,2019-09-30,600068,葛洲坝,0.13,1997-05-26,1,1997-01-01,5297
23,2019-09-23,sh.600085,2019-09-30,600085,同仁堂,0.12,1997-06-25,1,1997-01-01,5349
24,2019-09-23,sh.600089,2019-09-30,600089,特变电工,0.20,1997-06-18,1,1997-01-01,5206
25,2019-09-23,sh.600100,2019-09-30,600100,同方股份,0.16,1997-06-27,1,1997-01-01,5154
26,2019-09-23,sh.600104,2019-09-30,600104,上汽集团,0.67,1997-11-25,1,1997-01-01,5172
27,2019-09-23,sh.600109,2019-09-30,600109,国金证券,0.17,1997-08-07,1,1997-01-01,5192
28,2019-09-23,sh.600111,2019-09-30,600111,北方稀土,0.19,1997-09-24,1,1997-01-01,5271
29,2019-09-23,sh.600115,2019-09-30,600115,东方航空,0.19,1997-11-05,1,1997-01-01,5099
...,...,...,...,...,...,...,...,...,...,...
270,2019-09-23,sz.002624,2019-09-30,002624,完美世界,0.12,2011-10-28,1,2011-01-01,1543
271,2019-09-23,sz.002625,2019-09-30,002625,光启技术,0.03,2011-11-03,1,2011-01-01,1614
272,2019-09-23,sz.002673,2019-09-30,002673,西部证券,0.13,2012-05-03,1,2012-01-01,1788
273,2019-09-23,sz.002714,2019-09-30,002714,牧原股份,0.47,2014-01-28,1,2014-01-01,1360
274,2019-09-23,sz.002736,2019-09-30,002736,国信证券,0.24,2014-12-29,1,2014-01-01,1154
275,2019-09-23,sz.002739,2019-09-30,002739,万达电影,0.12,2015-01-22,1,2015-01-01,700
276,2019-09-23,sz.002773,2019-09-30,002773,康弘药业,0.07,2015-06-26,1,2015-01-01,1042
277,2019-09-23,sz.002925,2019-09-30,002925,盈趣科技,0.05,2018-01-15,1,2018-01-01,415
278,2019-09-23,sz.002938,2019-09-30,002938,鹏鼎控股,0.08,2018-09-18,1,2018-01-01,251
279,2019-09-23,sz.002939,2019-09-30,002939,长城证券,0.04,2018-10-26,1,2018-01-01,229
280,2019-09-23,sz.002945,2019-09-30,002945,华林证券,0.04,2019-01-17,1,2019-01-01,172
281,2019-09-23,sz.300003,2019-09-30,300003,乐普医疗,0.22,2009-10-30,1,2009-01-01,2294
282,2019-09-23,sz.300015,2019-09-30,300015,爱尔眼科,0.36,2009-10-30,1,2009-01-01,2397
283,2019-09-23,sz.300017,2019-09-30,300017,网宿科技,0.16,2009-10-30,1,2009-01-01,2361
284,2019-09-23,sz.300024,2019-09-30,300024,机器人,0.13,2009-10-30,1,2009-01-01,2405
285,2019-09-23,sz.300033,2019-09-30,300033,同花顺,0.17,2009-12-25,1,2009-01-01,2355
286,2019-09-23,sz.300059,2019-09-30,300059,东方财富,0.64,2010-03-19,1,2010-01-01,2256
287,2019-09-23,sz.300070,2019-09-30,300070,碧水源,0.10,2010-04-21,1,2010-01-01,2218
288,2019-09-23,sz.300072,2019-09-30,300072,三聚环保,0.06,2010-04-27,1,2010-01-01,2226
289,2019-09-23,sz.300122,2019-09-30,300122,智飞生物,0.18,2010-09-28,1,2010-01-01,2116
290,2019-09-23,sz.300124,2019-09-30,300124,汇川技术,0.20,2010-09-28,1,2010-01-01,2171
291,2019-09-23,sz.300136,2019-09-30,300136,信维通信,0.23,2010-11-05,1,2010-01-01,2095
292,2019-09-23,sz.300142,2019-09-30,300142,沃森生物,0.27,2010-11-12,1,2010-01-01,1890
293,2019-09-23,sz.300144,2019-09-30,300144,宋城演艺,0.16,2010-12-09,1,2010-01-01,2053
294,2019-09-23,sz.300251,2019-09-30,300251,光线传媒,0.07,2011-08-03,1,2011-01-01,1869
295,2019-09-23,sz.300296,2019-09-30,300296,利亚德,0.10,2012-03-15,1,2012-01-01,1660
296,2019-09-23,sz.300408,2019-09-30,300408,三环集团,0.17,2014-12-03,1,2014-01-01,1169
297,2019-09-23,sz.300413,2019-09-30,300413,芒果超媒,0.08,2015-01-21,1,2015-01-01,886
298,2019-09-23,sz.300433,2019-09-30,300433,蓝思科技,0.07,2015-03-18,1,2015-01-01,1086
299,2019-09-23,sz.300498,2019-09-30,300498,温氏股份,1.12,2015-11-02,1,2015-01-01,947

In [17]:
# def database_stock(stock):
#     #### 连接database ####
#     # conn = pymysql.connect(host=“你的数据库地址”, user=“用户名”,password=“密码”,database=“数据库名”,charset=“utf8”)
#     conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='123456' ,charset='utf8')
#     # 使用cursor()方法获取操作游标，cursor()得到一个可以执行SQL语句的光标对象
#     cursor = conn.cursor()
#     #### 选择数据库：stock ####
#     Select_DataBase = "use stock;"
#     cursor.execute(Select_DataBase)
#     table_name = 'hs300'
    
#     print('正在创建数据表：'+table_name)
#     # 定义要执行的SQL语句，预处理语句创建表
#     try:
#         sql_create = """create table %s"""% table_name +""" (
#                         id int auto_increment,
#                         bs_date VARCHAR(20),
#                         bs_code VARCHAR(20),
#                         ts_date VARCHAR(20),
#                         ts_code VARCHAR(20),
#                         stock_name VARCHAR(20),
#                         weight VARCHAR(20),
#                         ipoDate VARCHAR(20),
#                         tradeStatus VARCHAR(10),
#                         startdate VARCHAR(20),
#                         ts_TradeCount VARCHAR(20),
#                         PRIMARY KEY (id),
#                         UNIQUE KEY (bs_date,bs_code,ts_date,ts_code)
#                         )"""
#         # 执行SQL语句
#         cursor.execute(sql_create)
#     except:
#         print(table_name+'数据表已存在！')
        
#     length = len(stock)
#     sql_insert = ''
#     print('数据量：', length)
#     for i in range(0, length):
#         record = tuple(stock.loc[i])
#         if sql_insert == '':
#             #插入数据语句
#             sql_insert = """INSERT INTO  %s"""% table_name +""" (bs_date,bs_code,ts_date,ts_code,stock_name,
#                             weight,ipoDate,tradeStatus,startdate,ts_TradeCount) 
#                             VALUES ('%s','%s','%s','%s','%s','%s','%s','%s','%s','%s')""" % record
#         else:
#             sql_insert = sql_insert + """,('%s','%s','%s','%s','%s','%s','%s','%s','%s','%s')""" % record
        
#     try:
#         # 执行sql语句
#         cursor.execute(sql_insert)
#         # 提交到数据库执行
#         conn.commit()
#     except:
#         # Rollback in case there is any error
#         conn.rollback()
        
#     # 关闭光标对象
#     cursor.close()
#     # 关闭数据库连接
#     conn.close()

In [18]:
# database_stock(hs300)

In [19]:
def database_stock_REPLACE(stock):
    #### 连接database ####
    # conn = pymysql.connect(host=“你的数据库地址”, user=“用户名”,password=“密码”,database=“数据库名”,charset=“utf8”)
    conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='123456' ,charset='utf8')
    # 使用cursor()方法获取操作游标，cursor()得到一个可以执行SQL语句的光标对象
    cursor = conn.cursor()
    #### 选择数据库：stock ####
    Select_DataBase = "use stock;"
    cursor.execute(Select_DataBase)
    table_name = 'hs300'
        
    length = len(stock)
    sql_insert = ''
    print('数据量：', length)
    for i in range(0, length):
        record = tuple(stock.loc[i])
        if sql_insert == '':
            #插入数据语句
            sql_insert = """REPLACE INTO  %s"""% table_name +""" (bs_date,bs_code,ts_date,ts_code,stock_name,
                            weight,ipoDate,tradeStatus,startdate,ts_TradeCount) 
                            VALUES ('%s','%s','%s','%s','%s','%s','%s','%s','%s','%s')""" % record
        else:
            sql_insert = sql_insert + """,('%s','%s','%s','%s','%s','%s','%s','%s','%s','%s')""" % record
        
    try:
        # 执行sql语句
        cursor.execute(sql_insert)
        # 提交到数据库执行
        conn.commit()
    except:
        # Rollback in case there is any error
        conn.rollback()
        
    # 关闭光标对象
    cursor.close()
    # 关闭数据库连接
    conn.close()

In [20]:
database_stock_REPLACE(hs300)

数据量： 300